{% load humanize %}
{% load static %}



<div class="pks-post-carousel container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div id="news-slider" class="owl-carousel">
			{% for post in posts %}
			<div class="post-slide">
				<div class="post-img">
					<img src="{{post.image.url}}" alt="">
					<a href="{% url 'website:blog-detail' post.slug %}" class="over-layer"><i class="fa fa-link"></i></a>
				</div>
				<div class="post-content">
					<h3 class="post-title">
					<a href="{% url 'website:blog-detail' post.slug %}">{{post.title}}</a>
					</h3>
					<p class="post-description">{{post.post_summery|safe|truncatechars:100 }}</p>
					<span class="post-date"><i class="fa fa-clock-o"></i>{{post.publish_date|naturaltime }}</span>
					<a href="#" class="read-more">مطالعه مقاله</a>
				</div>
			</div>

            {% endfor %}

		</div>
	</div>
  </div>
</div>
