{% load static %}

<div class="price-list-holder d-flex align-items-center justify-content-center mt-3">
    <div class="form-check form-switch d-flex flex-column align-items-center justify-content-center">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
    <label class="form-check-label mt-2" for="flexSwitchCheckChecked" id="flexSwitchCheckCheckedLable">
        برای تغییر لیست از بتن به خاک روی سوییچ کلیک کنید
    </label>
    </div>
</div>

<section class="price-list-beton">  
    <h2 style="text-align:center">{{pricelist.title}}</h2>        
    <p style="text-align:center">{{pricelist.upload_date}}</p>
    <div class="columns">
        <div class="price-list-columns">
            <ul class="pricebeton">
                <li class="header">
                    
                    پایه سه بتن
                    
                    </li>
                <li class="grey">
                    
            لیست تجهیزات بتن پایه سه        
                    </li>
                <li>
                    
            <a href="
            
            
            
            
            " target="_blank" class="list-hover">
            مشاهده لیست تجهیزات آزمایشگاه بتن  
                </a>           
                    </li>
                <li>
                    
            <a href="#" class="list-hover">
            دانلود شیوه نامه نظام مهندسی    </a>         
                    
                    </li>
                <li>
                    
            <a href="#" class="list-hover">
            لیست نیروی انسانی آزمایشگاه بتن    </a>         
                    </li>
                <li>
                    
            <a href="#" class="list-hover">
            فرمهای کاربردی    </a>         
                    </li>
                <li class="grey"><a href="{{pricelist.beton_3_document.url}}" class="buttonbeton">
                    
            
                پیش فاکتور پایه سه بتن
            
            
                    </a></li>
            </ul>
            </div>
            
            <div class="price-list-columns">
            <ul class="pricebeton">
                <li class="header">
                    
                    پایه دو بتن
                    
                    </li>
                <li class="grey">
                    
            لیست تجهیزات بتن پایه دو
            
                    </li>
                <li>
                    
            <a href="
            
            
            
            
            " target="_blank" class="list-hover">
            مشاهده لیست تجهیزات آزمایشگاه بتن  
                </a>           
                    </li>
                <li>
                    
            <a href="#" class="list-hover">
            دانلود شیوه نامه نظام مهندسی    </a>         
                    
                    </li>
                <li>
                    
            <a href="#" class="list-hover">
            لیست نیروی انسانی آزمایشگاه بتن    </a>         
                    </li>
                <li>
                    
            <a href="#" class="list-hover">
            فرمهای کاربردی    </a>         
                    </li>
                    <li class="grey"><a href="{{pricelist.beton_2_document.url}}" class="buttonbeton">

                    
                پیش فاکتور پایه دو بتن
            
                    </a></li>
            </ul>
            </div>
            
            <div class="price-list-columns">
            <ul class="pricebeton">
                <li class="header">
                    
                    پایه یک بتن
                    
                    </li>
                <li class="grey">
                    
            لیست تجهیزات بتن پایه یک
                    </li>
                <li>
                    
            <a href="
            
            
            
            
            " target="_blank" class="list-hover">
            مشاهده لیست تجهیزات آزمایشگاه بتن  
                </a>           
                    </li>
                <li>
                    
            <a href="#" class="list-hover">
            دانلود شیوه نامه نظام مهندسی    </a>         
                    
                    </li>
                <li>
                    
            <a href="#" class="list-hover">
            لیست نیروی انسانی آزمایشگاه بتن    </a>         
                    </li>
                <li>
                    
            <a href="#" class="list-hover">
            فرمهای کاربردی    </a>         
                    </li>
                    <li class="grey"><a href="{{pricelist.beton_1_document.url}}" class="buttonbeton">

                    
            پیش فاکتور پایه یک بتن
            
                    </a></li>
            </ul>
            </div>
    </div>
</section>  

<section class="price-list-khak">

    <h2 style="text-align:center">{{pricelist.title}}</h2>        
    <p style="text-align:center">{{pricelist.upload_date}}</p>
    <div class="columns">
        <div class="price-list-columns ">
        <ul class="price">
            <li class="header">
                
                پایه سه خاک
                
                </li>
            <li class="grey">
                
        لیست تجهیزات پایه سه خاک

        </li>
            <li>
                
        <a href="



        " target="_blank" class="list-hover">
        مشاهده لیست تجهیزات آزمایشگاه مکانیک خاک  
            </a>           
                </li>
            <li>
                
        <a href="#" class="list-hover">
        دانلود شیوه نامه نظام مهندسی    </a>         
                
                </li>
            <li>
                
        <a href="#" class="list-hover">

        لیست نیروی انسانی آزمایشگاه خاک   


        </a>
                </li>
            <li>
                
        <a href="#" class="list-hover">
        فرمهای کاربردی    </a>         
                </li>
                <li class="grey"><a href="{{pricelist.khak_3_document.url}}" class="buttonbeton">

                

            پیش فاکتور پایه سه خاک

                </a></li>
        </ul>
        </div>

        <div class="price-list-columns ">
        <ul class="price">
            <li class="header">
                
        پایه دو خاک        
                </li>
            <li class="grey">
                
        لیست تجهیزات پایه دو خاک
                </li>
            <li>
                
        <a href="





        " target="_blank" class="list-hover">
        مشاهده لیست تجهیزات آزمایشگاه مکانیک خاک  
            </a>           
                </li>
            <li>
                
        <a href="#" class="list-hover">
        دانلود شیوه نامه نظام مهندسی    </a>         
                
                </li>
            <li>
                
        <a href="#" class="list-hover">
            

        لیست نیروی انسانی آزمایشگاه خاک   

        </a>         
                </li>
            <li>
                
        <a href="#" class="list-hover">
        فرمهای کاربردی    </a>         
                </li>
                <li class="grey"><a href="{{pricelist.khak_2_document.url}}" class="buttonbeton">

                

            پیش فاکتور پایه دو خاک

                </a></li>
        </ul>
        </div>

        <div class="price-list-columns ">
        <ul class="price">
            <li class="header">
                
        پایه یک خاک

                </li>
            <li class="grey">
                
        لیست تجهیزات پایه یک خاک
                </li>
            <li>
                
        <a href="




        " target="_blank" class="list-hover">
        مشاهده لیست تجهیزات آزمایشگاه خاک
        </a>           
                </li>
            <li>
                
        <a href="#" class="list-hover">
        دانلود شیوه نامه نظام مهندسی    </a>         
                
                </li>
            <li>
                
        <a href="#" class="list-hover">

        لیست نیروی انسانی آزمایشگاه خاک   


        </a>         
                </li>
            <li>
                
        <a href="#" class="list-hover">
        فرمهای کاربردی    </a>         
                </li>
                <li class="grey"><a href="{{pricelist.khak_1_document.url}}" class="buttonbeton">

                
        پیش فاکتور پایه یک خاک

            </a></li>
        </ul>
        </div>
    </div>

</section>
