{% load humanize %}
{% load static %}

<div class="pks-post-carousel container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div id="news-slider-2" class="owl-carousel">
            {% for product in products %}

            <div class="post-slide">
				<div class="post-img">
					<img src="{{product.image.url}}" alt="">
					<a href="{% url 'product:productdetails' product.slug %}" class="over-layer"><i class="fa fa-link"></i></a>
				</div>
				<div class="post-content">
					<h3 class="post-title">
					<a href="{% url 'product:productdetails' product.slug %}">{{product.title}}</a>
					</h3>
					<p class="post-description">{{product.summery |safe |truncatechars:100}}</p>
					<span class="post-date"><i class="fa fa-clock-o"></i>{{product.publish_date|naturaltime }}</span>
					<a href="#" class="read-more">مشاهده محصول</a>
				</div>
			</div>

            {% endfor %}

		</div>
	</div>
  </div>
</div>