{% load static %}

<section class="home-slider slider-holder-video">
    <div class="carousel slide" id="home-carousel-video" data-ride="carousel">
        <div class="carousel-inner" role="listbox">

            <div class="item">
                <a href="#">
                    <div class="img-slider" style="background: url(/slider/B5ECE1ABB44C5FC2D9F3096E1DF9212D.jpg) no-repeat center top; background-size: cover;"></div>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <div class="img-slider" style = "background: url(/slider/B5ECE1ABB44C5FC2D9F3096E1DF9212D.jpg) no-repeat center top; background-size: cover;"></div>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <div class="img-slider" style="background: url(/slider/B5ECE1ABB44C5FC2D9F3096E1DF9212D.jpg) no-repeat center top; background-size: cover;"></div>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <div class="img-slider" style="background: url(/slider/B5ECE1ABB44C5FC2D9F3096E1DF9212D.jpg) no-repeat center top; background-size: cover;"></div>
                </a>
            </div>
        </div>
        <a class="right carousel-control" href="#home-carousel-video" role="button" data-slide="next">
            <i class="fal fa-chevron-right" aria-hidden="true"></i>
        </a>
        <a class="left carousel-control" href="#home-carousel-video" role="button" data-slide="prev">
            <i class="fal fa-chevron-left" aria-hidden="true"></i>
        </a>

    </div>


</section>
