{% extends '../core/base.html' %}
{% load humanize %}
{% load static %}



{% block title %}Blog{% endblock title%}
{% block seodescription %} {{ seo.description }}{% endblock seodescription%}



{% block content %}

<!-- **************** MAIN CONTENT START **************** -->
<main>
    <!-- =======================
    Page Banner START -->
    <section class="py-5">
        <div class="container">
            <div class="row position-relative">
                <!-- SVG decoration -->
                <figure class="position-absolute top-0 start-0 d-none d-sm-block">	
                    <svg width="22px" height="22px" viewBox="0 0 22 22" style="transform: scale(-1,1)">
                        <polygon class="fill-purple" points="22,8.3 13.7,8.3 13.7,0 8.3,0 8.3,8.3 0,8.3 0,13.7 8.3,13.7 8.3,22 13.7,22 13.7,13.7 22,13.7 "></polygon>
                    </svg>
                </figure>
            
                <!-- Title and breadcrumb -->
                <div class="col-lg-10 mx-auto text-center position-relative">
                    <!-- Title -->
                    <h1 class="fs-2">به بخش مقاله های پی خاک سنگ خوش آمدید</h1>
                    <!-- Breadcrumb -->
                    <div class="d-flex justify-content-center position-relative">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="{% url 'website:home' %}">صفحه اصلی</a></li>
                                <li class="breadcrumb-item active" aria-current="page">وبلاگ</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Page Banner END -->
    <!-- =======================
Page content START -->
<section class="position-relative pt-0 pt-lg-5">
	<div class="container">
		<div class="row g-4">
            {% for post in page_obj %}    
			<!-- Card item START -->
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="card bg-transparent">
					{% if post.slug %}
					<a href="{% url 'website:blog-detail' slug=post.slug %}">

						<div class="overflow-hidden rounded-3">
							<img src="{{ post.image.url }}" class="card-img" alt="course image">
							<!-- Overlay -->
							<div class="bg-overlay bg-dark opacity-4"></div>
							<div class="card-img-overlay d-flex align-items-start p-3">
								<!-- badge -->
								<a href="" class="badge text-bg-danger">{{ post.categories }}</a>
							</div>
						</div>
					</a>
					{% else %}
					<div class="overflow-hidden rounded-3">
						<img src="{{ post.image.url }}" class="card-img" alt="course image">
						<!-- Overlay -->
						<div class="bg-overlay bg-dark opacity-4"></div>
						<div class="card-img-overlay d-flex align-items-start p-3">
							<!-- badge -->
							<a href="{% url 'website:blog-detail' slug=post.slug %}" class="badge text-bg-danger">{{ post.categories }}</a>
						</div>
					</div>
					{% endif %}

					<!-- Card body -->
					<div class="card-body">
						<!-- Title -->
						<h5 class="card-title fw-normal"><a href="{% url 'website:blog-detail' slug=post.slug %}">{{post.title}}</h5></a>
						<p class="text-truncate-2">{{post.post_summery |safe |truncatechars:100}}</p>
						<!-- Info -->
						<div class="d-flex justify-content-between">
							<h6 class="mb-0 fw-normal"><a href="">{{ post.author.get_full_name }}</a></h6>
							<span class="small">{{ post.publish_date|naturaltime }}</span>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->
            {% endfor %}    

		</div> <!-- Row end -->

		<!-- Pagination START -->
		<nav class="d-flex justify-content-center mt-5" aria-label="navigation">
			<ul class="pagination pagination-primary-soft rounded mb-0">
                
				<li class="page-item mb-0"><a class="page-link" href="?page={{ page_obj.prev_page_number }}" tabindex="-1"><i class="fas fa-angle-double-right"></i></a></li>
				<li class="page-item mb-0 active"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
				<li class="page-item mb-0"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
				<li class="page-item mb-0"><a class="page-link" href="#">..</a></li>
				<li class="page-item mb-0"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
				<li class="page-item mb-0"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-double-left"></i></a></li>
                {% endif %}

			</ul>
		</nav>
		<!-- Pagination END -->

	</div>
</section>
<!-- =======================
Page content END -->

</main>





{% endblock content%}
