{% extends '../core/base.html' %}
{% load static %}
{% load i18n %}

    {% block title %}{{ seo.title }}{% endblock title%}
    {% block seodescription %} {{ seo.description }}{% endblock seodescription%}
    {% block seoimage %} {{ seo.image }} {% endblock seoimage%}

{% block content %}

<!-- **************** MAIN CONTENT START **************** -->
<main>
	
    <!-- =======================
    Main Content START -->
    <section class="pb-0 pt-4 pb-md-5">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- Title and Info START -->
                    <div class="row">
                        <!-- Avatar and Share -->
                        <div class="col-lg-3 align-items-center mt-4 mt-lg-5 order-2 order-lg-1">
                            <div class="text-lg-center">
                                <!-- Author info -->
                                <div class="position-relative">
                                    <!-- Avatar -->
                                    {% comment %} <div class="avatar avatar-xxl">
                                        <img class="avatar-img rounded-circle" src="{{ post.author.url }}" alt="avatar">
                                    </div> {% endcomment %}
                                    <a href="#" class="h5 stretched-link mt-2 mb-0 d-block">{{ post.author.get_full_name }}</a>
                                    <p class="mb-2">نویسنده</p>
                                </div>
                                <!-- Info -->
                                <ul class="list-inline list-unstyled">
                                    <li class="list-inline-item d-lg-block my-lg-2">{{ post.publish_date }}</li>
                                    <li class="list-inline-item d-lg-block my-lg-2">{% translate '5دقیقه زمان مطالعه' %}</li>
                                    <li class="list-inline-item badge text-bg-orange"><i class="far text-white fa-heart me-1"></i>{{ post.total_views }}</li>
                                    <li class="list-inline-item badge text-bg-info"><i class="far fa-eye me-1"></i>{{ post.total_views }}</li>
                                </ul>
                            </div>
                        </div>
    
                        <!-- Content -->
                        <div class="col-lg-9 order-1">
                            <!-- Pre title -->
                            <span>{{ post.publish_date }}</span><span class="mx-2">|</span><div class="badge text-bg-success"> {{ post.categories }} </div>
                            <!-- Title -->
                            <h1 class="mt-2 mb-0 fs-4">{% translate ' خلاصه مطلب :' %}{{post.title}}</h1>
                            <!-- Info -->
                            <p class="mt-2">{{post.post_summery | safe}}</p>
                        </div>
                    </div>
                    <!-- Title and Info END -->
    
                    <!-- Video START -->
                    <div class="row mt-4">
                        <div class="col-xl-10 mx-auto">
                            <!-- Card item START -->
                            <div class="card overflow-hidden h-200px h-sm-300px h-lg-400px h-xl-500px rounded-3 text-center" style="background-image:url({{post.image.url}}); background-position: center left; background-size: cover;">
                                <!-- Card Image overlay -->

                                <div class="bg-overlay bg-dark opacity-4">
                                </div>
                            </div>
                            <!-- Card item END -->
                        </div>
                    </div>
                    <!-- Video END -->
    
                    <!-- Content START -->
                    <div class="row">
                        <div class="row mb-4">
                            <h4 class="mt-4 fs-5">{{post.title}}</h4>
                            <div class="col-md-12">
                                <p class="mb-0">{{post.desc_1 | safe}}</p>
                            </div>

                        </div>
                    </div>
                    <!-- Content END -->
    
                    <!-- Tags and share START -->
                    <div class="d-lg-flex justify-content-lg-between mb-4">
                        {% comment %} <!-- Social media button -->
                        <div class="align-items-center mb-3 mb-lg-0">
                            <h6 class="mb-2 me-4 d-inline-block">اشتراک گذاری:</h6>
                            <ul class="list-inline mb-0 mb-2 mb-sm-0">
                                <li class="list-inline-item"> <a class="btn px-2 btn-sm bg-facebook" href="#"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
                                <li class="list-inline-item"> <a class="btn px-2 btn-sm bg-instagram-gradient" href="#"><i class="fab fa-fw fa-instagram"></i></a> </li>
                                <li class="list-inline-item"> <a class="btn px-2 btn-sm bg-twitter" href="#"><i class="fab fa-fw fa-twitter"></i></a> </li>
                                <li class="list-inline-item"> <a class="btn px-2 btn-sm bg-linkedin" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a> </li>
                            </ul>
                        </div> {% endcomment %}
                        <!-- Popular tags -->
                        <div class="align-items-center">
                            <h6 class="mb-2 me-4 d-inline-block">{% translate 'برچسب:' %}</h6>
                            <ul class="list-inline mb-0 social-media-btn">
                                {% for tag in tags %}
                                <li class="list-inline-item"> <a class="btn btn-outline-light btn-sm mb-lg-0" href="">{{tag.name}}</a> </li>
                                {% endfor%}

                            </ul>
                        </div>
                    </div>
                    <!-- Tags and share END -->
    
                    <hr> <!-- Divider -->
    
                    <!-- Comment review and form START -->
                    {% comment %} <div class="row mt-4">
                        <!-- Comment START -->
                        <div class="col-md-7">
                            <h3 class="fs-5">دیدگاه کاربران</h3>
                            <!-- Comment level 1-->
                            <div class="my-4 d-flex">
                                <img class="avatar avatar-md rounded-circle me-3" src="assets/images/avatar/01.jpg" alt="avatar">
                                <div>
                                    <div class="mb-2">
                                        <h5 class="m-0">زهرا محمدی</h5>
                                        <span class="me-3 small">11 خرداد، 1400 6 بعد از ظهر</span>
                                    </div>
                                    <p>کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
                                    <a href="#" class="btn btn-sm btn-light mb-0">پاسخ</a>
                                </div>
                            </div>
                            <!-- Comment children level 2 -->
                            <div class="my-4 d-flex ps-2 ps-md-4">
                                <img class="avatar avatar-md rounded-circle me-3" src="assets/images/avatar/02.jpg" alt="avatar">
                                <div>
                                    <div class="mb-2">
                                        <h5 class="m-0">ایمان خسروجردی</h5>
                                        <span class="me-3 small">11 خرداد، 1400 6 بعد از ظهر</span>
                                    </div>
                                    <p>چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                    <a href="#" class="btn btn-sm btn-light mb-0">پاسخ</a>
                                </div>
                            </div>
                            <!-- Comment children level 3 -->
                            <div class="my-4 d-flex ps-3 ps-md-5">
                                <img class="avatar avatar-md rounded-circle me-3" src="assets/images/avatar/01.jpg" alt="avatar">
                                <div>
                                    <div class="mb-2">
                                        <h5 class="m-0">زهرا محمدی</h5>
                                        <span class="me-3 small">11 خرداد، 1400 6 بعد از ظهر</span>
                                    </div>
                                    <p>با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                    <a href="#" class="btn btn-sm btn-light mb-0">پاسخ</a>
                                </div>
                            </div>
                            <!-- Comment level 1 -->
                            <div class="my-4 d-flex">
                                <img class="avatar avatar-md rounded-circle me-3" src="assets/images/avatar/04.jpg" alt="avatar">
                                <div>
                                    <div class="mb-2">
                                        <h5 class="m-0">مسعود ناصری</h5>
                                        <span class="me-3 small">11 خرداد، 1400 6 بعد از ظهر</span>
                                    </div>
                                    <p>در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                                    <a href="#" class="btn btn-sm btn-light mb-0">پاسخ</a>
                                </div>
                            </div>
                        </div>
                        <!-- Comment END -->
    
                        <!-- Form START -->
                        <div class="col-md-5">
                            <!-- Title -->
                            <h3 class="mt-3 mt-sm-0 fs-5">ثبت دیدگاه</h3>
                            <small>آدرس ایمیل شما منتشر نخواهد شد. فیلدهای الزامی مشخص شده اند*</small>
    
                            <form class="row g-3 mt-2 mb-5">
                                <!-- Name -->
                                <div class="col-lg-6">
                                    <label class="form-label">نام *</label>
                                    <input type="text" class="form-control" aria-label="">
                                </div>
                                <!-- Email -->
                                <div class="col-lg-6">
                                    <label class="form-label">ایمیل *</label>
                                    <input type="email" class="form-control">
                                </div>
                                <!-- Comment -->
                                <div class="col-12">
                                    <label class="form-label">متن دیدگاه *</label>
                                    <textarea class="form-control" rows="3"></textarea>
                                </div>
                                <!-- Button -->
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary mb-0">ثبت</button>
                                </div>
                            </form>
                        </div>
                        <!-- Form END -->
                    </div> {% endcomment %}
                    <!-- Comment review and form END -->
                </div>
            </div> <!-- Row END -->
        </div>
    </section>
    <!-- =======================
    Main Content END -->
    
    <!-- =======================
    Related blog START -->
    {% comment %} <section class="pt-0">
        <div class="container">
        <!-- Title -->
            <div class="row mb-4">
                <div class="col-12">
                <h2 class="mb-0 fs-4">وبلاگ های مشابه</h2>
                </div>
            </div>
            
            <!-- Slider START -->
            <div class="tiny-slider arrow-round arrow-hover arrow-dark">
                <div class="tiny-slider-inner" data-autoplay="false" data-arrow="true" data-edge="2" data-dots="false" data-items="3" data-items-lg="2" data-items-sm="1">
                    
                    <!-- Slider item -->
                    <div class="card bg-transparent">
                        <div class="row g-0">
                            <!-- Image -->
                            <div class="col-md-4">
                                <img src="assets/images/event/06.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <!-- Card body -->
                            <div class="col-md-8">
                                <div class="card-body">
                                    <!-- Title -->
                                    <h6 class="card-title fw-normal"><a href="#">پذیرفتن محدودیت خود به عنوان طراح وب</a></h6>
                                    <span class="small">21 مرداد، 1400</span>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Slider item -->
                    <div class="card bg-transparent">
                        <div class="row g-0">
                            <!-- Image -->
                            <div class="col-md-4">
                                <img src="assets/images/event/04.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <!-- Card body -->
                            <div class="col-md-8">
                                <div class="card-body">
                                    <!-- Title -->
                                    <h6 class="card-title fw-normal"><a href="#">نحوه بهینه‌سازی تصاویر وب‌سایت برای سئو</a></h6>
                                    <span class="small">50دقیقه پیش</span>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Slider item -->
                    <div class="card bg-transparent">
                        <div class="row g-0">
                            <!-- Image -->
                            <div class="col-md-4">
                                <img src="assets/images/event/03.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <!-- Card body -->
                            <div class="col-md-8">
                                <div class="card-body">
                                    <!-- Title -->
                                    <h6 class="card-title fw-normal"><a href="#">توسعه‌دهنده نرم‌افزار چه کاری انجام می‌دهد؟</a></h6>
                                    <span class="small">31 مرداد، 1400</span>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Slider item -->
                    <div class="card bg-transparent">
                        <div class="row g-0">
                            <!-- Image -->
                            <div class="col-md-4">
                                <img src="assets/images/event/05.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <!-- Card body -->
                            <div class="col-md-8">
                                <div class="card-body">
                                    <!-- Title -->
                                    <h6 class="card-title fw-normal"><a href="#">Node JS در چه مواردی استفاده می‌شود؟</a></h6>
                                    <span class="small">50دقیقه پیش</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider END -->
        </div>
    </section> {% endcomment %}
    <!-- =======================
    Related blog END -->
    
    </main>
    <!-- **************** MAIN CONTENT END **************** -->
    
{% endblock content%}
