{% extends '../core/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Home{% endblock title%}
{% block seodescription %} {{ seo.description }}{% endblock seodescription%}



{% block content %}
<main>
    {% include "partials/slider.html"%}
    <div class="index-page">
        {% include 'partials/category-list.html' %}

        {% comment %} <div class="col-md-12">
			<div class="carousel-title-main-page d-flex aligns-item-center justify-content-center">
			<i class="fa-light fa-fire"></i>
			<h2 class="section__title">پرفروش‌ترین کالاها</h2>
		</div> {% endcomment %}
        {% comment %} {% include 'partials/product-carousel.html' %} {% endcomment %}
        {% comment %} <div class="col-md-12">
			<div class="carousel-title-main-page d-flex aligns-item-center justify-content-center">
                <i class="fa-light fa-book-open-reader"></i>
                <h2 class="section__title">مقالات پر طرفدار</h2>
		</div> {% endcomment %}
        {% comment %} {% include 'partials/blog-carousel.html' %} {% endcomment %}
<!--=============== Product Section ===============-->
<section class="py-4" >
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3 px-5 py-2 row" style="background: linear-gradient(180deg,rgb(245, 245, 247), rgb(230, 230, 230));">
            <h2 class="h4 col-12 col-sm-6" style="text-align:center;">{% translate 'آخرین محصولات ' %}</h2>
            <a href="{% url 'website:shop' %}" class="btn btn-link col-12 col-sm-6">{% translate 'مشاهده همه محصولات' %}</a>
        </div>
        {% include 'partials/product-carousel.html' %}
    </div>
</section>

<!--=============== Blog Section ===============-->
<section class="py-4">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3 px-5 py-2 row" style="background: linear-gradient(180deg,rgb(245, 245, 247), rgb(230, 230, 230));">
            <h2 class="h4 col-12 col-sm-6" style="text-align:center;">{% translate 'آخرین مقالات ' %}</h2>
            <a href="{% url 'website:blog-list' %}" class="btn btn-link col-12 col-sm-6">{% translate 'مشاهده همه مقالات' %}</a>
        </div>
        {% include 'partials/blog-carousel.html' %}
    </div>
</section>
<!--=============== Pricelist Section ===============-->

<section class="py-4">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3 px-5 py-2 row" style="background: linear-gradient(180deg,rgb(245, 245, 247), rgb(230, 230, 230));">
            <h2 class="h4 col-12 col-sm-6" style="text-align:center;">{% translate 'لیست قیمت و راهنمای خرید لوازم آزمایشگاه بتن و خاک' %}</h2>
            <a href="{% url 'website:blog-list' %}" class="btn btn-link col-12 col-sm-6">{% translate 'راهنمای تاسیس آزمایشگاه' %}</a>
        </div>
    </div>

    {% include 'partials/price-list.html' %}
</section>

</main>

{% endblock content%}
