{% extends '../core/base.html' %}
{% load static %}


{% block title %}Home{% endblock title%}
{% block seodescription %} {{ seo.description }}{% endblock seodescription%}



{% block content %}
<!-- <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
    {%for image in images%}

      <div class="carousel-item active">
        <img src="{{image.image.url}}" class="d-block w-100" alt="{{image.alt}}">
      </div>
    {%endfor%}

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
    {% include "partials/slider.html"%}
    <h2>مشاهده مقالات</h2>

    {% include 'partials/blog-carousel.html' %}
    <h2>مشاهده محصولات</h2>
    {% include 'partials/product-carousel.html' %}

    {% comment %} <section>
        <div class="container mt-5">
            <div class="row">
            <div class="col-sm-4">
                <h2>دسته بندی مقالات</h2>
                <div class="laboratory">دستور العمل آزمایشگاه</div>
                <p>در این قسمت مطالب مربوط به هر قسمت از سایت را مشاهده می کنید.</p>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">آزمایشگاه خاک</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">آزمایشگاه بتن</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">آزمایشگاه عمومی</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">آزمایشگاه آسفالت</a>
                    </li>
                    </ul>
                <h3 class="mt-4">سایت مپ سایت</h3>
                <p>در این قسمت دسته بندی اصلی سایت را مشاهده می کنید</p>
                <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">صفحه اصلی</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">درباره ما</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ارتباط با ما</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">شرایط و قوانین خرید از سایت</a>
                </li>
                </ul>
                <hr class="d-sm-none">
            </div>
            <div class="col-sm-8">
                <h2>هدر مقاله اول</h2>
                <h5>نویسنده : ادمین پی خاک سنگ, Dec 7, 2024</h5>
                <div class="blog-img">تصویر مقاله</div>
                <p>Some text..</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        
                <h2 class="mt-5">هدر مقاله دوم</h2>
                <h5>نویسنده : ادمین پی خاک سنگ, Sep 2, 2023</h5>
                <div class="blog-img">تصویر مقاله</div>
                <p>Some text..</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>
            </div>
        </div>
    </section> {% endcomment %}

    <article></article>

    {% include 'partials/price-list.html' %}

    
{% endblock content%}
