{% extends '../core/base.html' %}
{% load static %}
{% load humanize %}


{% block title %}Shop{% endblock title%}
{% block seodescription %} Shop description {% endblock seodescription%}
{% block seoimage %} Shop image {% endblock seoimage%}


{% block content %}

<!-- =======================
Page content START -->
<section class="position-relative pt-0 pt-lg-3 ">
    <div class="container">
        <div class="row" >
            {% for product in page_obj %}    
            <!-- Card item START -->
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 bg-light">
                <div class="card bg-transparent">
                    {% if product.slug %}
                    <a href="{% url 'product:productdetails' slug=product.slug %}">

                        <div class="overflow-hidden rounded-3">
                            {% if product.image %}
                            <img src="{{ product.image.url }}" class="card-img" alt="product image">
                            {% else %}
                            <img src="{% static 'logo/logo.svg' %}" class="card-img" alt="product image">
                            {% endif %}                            <!-- Overlay -->
                            <div class="bg-overlay bg-dark opacity-1"></div>

                        </div>
                    </a>
                    {% else %}
                    <div class="overflow-hidden rounded-3">
                        {% if product.image %}
                        <a href="#"><img src="{{ product.image.url }}" class="card-img" alt="product image"></a>
                        {% else %}
                        <a href="#"><img src="{% static 'logo/logo.svg' %}" class="card-img" alt="product image"></a>
                        {% endif %}
                        <!-- Overlay 
                        <div class="bg-overlay bg-dark opacity-4"></div>
                        <div class="card-img-overlay d-flex align-items-start p-3">-->
                            <!-- badge -->
                            <!--<a href="{% url 'product:productdetails' slug=product.slug %}" class="badge text-bg-danger">{{ product.categories.name }}</a>
                        </div>
                        -->
                    </div>
                    
                    {% endif %}

                    <!-- Card body -->
                    <div class="card-body d-flex flex-column justify-content-between align-items-center">
                        <!-- Title -->
                        <h5 class="card-title fw-normal"><a href="{% url 'product:productdetails' slug=product.slug %}">{{product.title}}</h5></a>
                        <div class="text-truncate-2 rounded-bottom">
                            {% if product.is_discounted %}
                            <p class="card-text text-dark h5"> 
                                <span> قیمت : </span>
                                <span class="formatted-price">قیمت : {{product.formatted_offer_price|intcomma}} تومان</span>
                                <span
                                    class="text-body me-1 formatted-price text-decoration-line-through">{{product.formatted_price|intcomma}}</span>
                            </p>
                            {% else %}
                            <p class="card-text text-dark formatted-price h5">قیمت :  {{product.formatted_price|intcomma}} تومان</p>
                            {% endif %}
                        </div>
                        <!-- Info -->
                        <div class="d-flex justify-content-between">
                            <h6 class="mb-0 fw-normal"><a href="">{{ product.author.get_full_name }}</a></h6>
                            {% comment %} <span class="small">{{ product.publish_date|naturaltime }}</span> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card item END -->
            {% endfor %}    

        </div> <!-- Row end -->

        <!-- Pagination START -->
        <nav class="d-flex justify-content-center mt-5" aria-label="navigation">
            <ul class="pagination pagination-primary-soft rounded mb-0">
                
                <li class="page-item mb-0"><a class="page-link" href="?page={{ page_obj.prev_page_number }}" tabindex="-1"><i class="fas fa-angle-double-right"></i></a></li>
                <li class="page-item mb-0 active"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                <li class="page-item mb-0"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                <li class="page-item mb-0"><a class="page-link" href="#">..</a></li>
                <li class="page-item mb-0"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                <li class="page-item mb-0"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-double-left"></i></a></li>
                {% endif %}

            </ul>
        </nav>
        <!-- Pagination END -->

    </div>
</section>
<!-- =======================
Page content END -->

    {% include "partials/price-list.html"%}
    <div class="product-table-holder m-5">
    {% include "partials/product-table.html"%}
    </div>
{% endblock content%}
