{% load static %}
{% load i18n %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% csrf_token %}
<style>
	.language-list {
		list-style-type: none;  /* Removes bullet points */
		padding: 0;  /* Removes default padding */
		margin: 0;   /* Removes default margin */
	}

	.language-list li {
		display: inline-block;  /* Optional: display items inline if needed */
		margin-right: 10px;     /* Adjust spacing if displaying inline */
	}

	.fa-language:before{
		content: none;
	}
</style>

	<!-- Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container-fluid pt-3 px-3 px-xl-5 d-flex flex-end justify-content-md-between justify-content-center row-gap-md-0 row-gap-3" style="flex-direction: row-reverse;">
			<div>
				<ul class="language-list">
					{% for language in languages %}
						<li class="fa-language">
							<a class="dropdown-item language-option" data-lang="{{ language.code }}" href="#">
								<span class="language-icon">
									{% if language.code == "fa" %}
										<!-- Farsi Flag SVG Icon -->
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
											<rect width="24" height="24" fill="#da0000"/>
											<rect width="24" height="16" fill="#fff"/>
											<rect width="24" height="8" fill="#239f40"/>
											<g transform="scale(0.05) translate(160, 120)">
												<!-- Simplified Farsi flag emblem -->
												<g id="emblem_half">
													<path d="M-0.54815,0.83638A0.912046,0.912046 0 0,0 0.328544,-0.722384A1,1 0 0,1 -0.54815,0.83638" fill="#da0000"/>
												</g>
												<use xlink:href="#emblem_half" transform="scale(-1,1)"/>
											</g>
										</svg>
									{% elif language.code == "en" %}
										<!-- English Flag SVG Icon -->
										<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
											<rect width="24" height="24" fill="#00247D"/>
											<polygon points="0,9 24,9 24,15 0,15" fill="#FFFFFF"/>
											<polygon points="9,0 15,0 15,24 9,24" fill="#FFFFFF"/>
											<polygon points="0,10 24,10 24,14 0,14" fill="#CF142B"/>
											<polygon points="10,0 14,0 14,24 10,24" fill="#CF142B"/>
										</svg>
									{% elif language.code == "ar" %}
										<!-- Arabic Flag SVG Icon -->
										<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
											<rect width="24" height="24" fill="#007A3D"/>
											<rect width="24" height="8" fill="#FFFFFF"/>
											<rect width="24" height="16" y="8" fill="#CE1126"/>
											<polygon points="0,0 8,12 0,24" fill="#000000"/>
										</svg>
									{% elif language.code == "tr" %}
										<!-- Turkish Flag SVG Icon -->
										<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
											<rect width="24" height="24" fill="#E30A17"/>
											<circle cx="10" cy="12" r="5" fill="#FFFFFF"/>
											<circle cx="11.5" cy="12" r="3.5" fill="#E30A17"/>
											<circle cx="14" cy="12" r="0.75" fill="#FFFFFF"/>
										</svg>
									{% endif %}
								</span>
								{{ language.name_local }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>

			<!-- Catalog START -->
			
			<div class="ms-1 ms-lg-0">
				<a class="btn btn-sm btn-lg-sm btn-danger me-2" 
				   role="button"
				   {% if language.code == "fa" or LANGUAGE_CODE == "fa" %}
					   href="{% static 'catalog/pks-catalog.pdf' %}"
				   {% elif language.code == "en" or LANGUAGE_CODE == "en" %}
					   href="{% static 'catalog/pks-en-catalog.pdf' %}"
				   {% elif language.code == "ar" or LANGUAGE_CODE == "ar" %}
					   href="{% static 'catalog/pks-ar-catalog.pdf' %}"
				   {% else %}
					   href="{% static 'catalog/pks-catalog.pdf' %}"
				   {% endif %}>
				   {% translate 'دانلود کاتالوگ' %}
				</a>
			</div>
			

		</div>
	</nav>
	<!-- Nav END -->

	<!-- Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container-fluid px-3 px-xl-5">
			<!-- Logo START -->
			<a class="navbar-brand" href="{% url 'website:home' %}">
				<img class="light-mode-item navbar-brand-item" src="{% static 'logo/logo.svg' %}" alt="peykhaksang logo">
				<img class="dark-mode-item navbar-brand-item" src="{% static 'logo/logo.svg' %}" alt="peykhaksang logo">
			</a>
			<!-- Logo END -->
			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			<!-- Main navbar START -->
			<div class="navbar-collapse w-100 collapse" id="navbarCollapse">

				<!-- Nav category menu START -->
				<ul class="navbar-nav navbar-nav-scroll me-auto">
					<!-- Nav item 1 Demos -->
					<li class="nav-item dropdown dropdown-menu-shadow-stacked">
						<a class="nav-link bg-primary bg-opacity-10 rounded-3 text-primary px-3 py-3 py-xl-0" href="#" id="categoryMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-light fa-list-radio me-2"></i><span>{% translate 'دسته بندی محصولات' %}</span></a>
						<ul class="dropdown-menu" aria-labelledby="categoryMenu">

							<!-- Dropdown submenu -->
							<li class="dropdown-submenu dropend">
								<a class="dropdown-item dropdown-toggle" href="#">{% translate 'تجهیزات آزمایشگاه بتن' %}</a>
								<ul class="dropdown-menu dropdown-menu-start" data-bs-popper="none">
									<!-- dropdown submenu open right -->
									<li class="dropdown-submenu dropend">
										<a class="dropdown-item dropdown-toggle" href="#">{% translate 'مقاومت فشاری بتن' %}</a>
										<ul class="dropdown-menu" data-bs-popper="none">
											<li> <a class="dropdown-item" href="#">{% translate 'مقالات بتن' %}</a></li>
											<li> <a class="dropdown-item" href="#">{% translate 'مقالات بتن' %}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'مقالات بتن' %}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'مقالات بتن' %}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'مقالات بتن' %}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'مقالات بتن' %}</a> </li>
										</ul>
									</li>
									<!-- dropdown submenu open right -->
									<li class="dropdown-submenu dropend">
										<a class="dropdown-item dropdown-toggle" href="#">{% translate 'آزمایش بتن تازه'%}</a>
										<ul class="dropdown-menu" data-bs-popper="none">
											<li> <a class="dropdown-item" href="#">{% translate 'مقالات بتن'%}</a></li>
											<li> <a class="dropdown-item" href="#">{% translate 'مقالات بتن'%}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'مقالات بتن'%}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'مقالات بتن'%}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'مقالات بتن'%}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'مقالات بتن'%}</a> </li>
										</ul>
									</li>
                                    <!-- dropdown submenu open right -->
									<li class="dropdown-submenu dropend">
										<a class="dropdown-item dropdown-toggle" href="#">{% translate 'تجهیزات آزمایش التراسونیک'%}</a>
										<ul class="dropdown-menu" data-bs-popper="none">
											<li> <a class="dropdown-item" href="#">{% translate 'محصولات بتن'%}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'محصولات بتن'%}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'محصولات بتن'%}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'محصولات بتن'%}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'محصولات بتن'%}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'محصولات بتن'%}</a> </li>
										</ul>
									</li>
									<!-- dropdown submenu open right -->
									<li class="dropdown-submenu dropend">
										<a class="dropdown-item dropdown-toggle" href="#">{% translate 'آزمایشهای خمش بتن'%}</a>
										<ul class="dropdown-menu" data-bs-popper="none">
											<li> <a class="dropdown-item" href="#">{% translate 'محصولات بتن'%}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'محصولات بتن'%}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'محصولات بتن'%}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'محصولات بتن'%}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'محصولات بتن'%}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'محصولات بتن'%}</a> </li>
										</ul>
									</li>
									<!-- dropdown submenu open right -->
									<li class="dropdown-submenu dropend">
										<a class="dropdown-item dropdown-toggle" href="#">{% translate 'تعیین مدول الاستیسیته بتن'%}</a>
										<ul class="dropdown-menu" data-bs-popper="none">
											<li> <a class="dropdown-item" href="#">{% translate 'محصولات بتن'%}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'محصولات بتن'%}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'محصولات بتن'%}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'محصولات بتن'%}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'محصولات بتن'%}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'محصولات بتن'%}</a> </li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="dropdown-submenu dropend">
								<a class="dropdown-item dropdown-toggle" href="#">{% translate 'تجهیزات آزمایشگاه خاک'%}</a>
								<ul class="dropdown-menu dropdown-menu-start" data-bs-popper="none">
									<!-- dropdown submenu open right -->
									<li class="dropdown-submenu dropend">
										<a class="dropdown-item dropdown-toggle" href="#">{% translate 'تعیین حدود روانی'%}</a>
										<ul class="dropdown-menu" data-bs-popper="none">
											<li> <a class="dropdown-item" href="#">{% translate 'مقالات خاک'%}</a></li>
											<li> <a class="dropdown-item" href="#">{% translate 'مقالات خاک'%}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'مقالات خاک'%}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'مقالات خاک'%}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'مقالات خاک'%}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'مقالات خاک'%}</a> </li>
										</ul>
									</li>
                                    <!-- dropdown submenu open right -->
									<li class="dropdown-submenu dropend">
										<a class="dropdown-item dropdown-toggle" href="#">{% translate 'مقاومت برشی خاک'%}</a>
										<ul class="dropdown-menu" data-bs-popper="none">
											<li> <a class="dropdown-item" href="#">{% translate 'محصولات خاک' %}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'محصولات خاک' %}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'محصولات خاک' %}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'محصولات خاک' %}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'محصولات خاک' %}</a> </li>
											<li> <a class="dropdown-item" href="#">{% translate 'محصولات خاک' %}</a> </li>
										</ul>
									</li>
								</ul>
							</li>
							<li> <a class="dropdown-item" href="#">{% translate 'خرید لیست تجهیزات پایه آزمایشگاه' %}</a> </li>
							<li> <a class="dropdown-item" href="#">{% translate 'راه اندازی آزمایشگاه' %}</a> </li>
							<li> <a class="dropdown-item" href="#">{% translate 'کتابخانه' %}</a> </li>
							<li> <a class="dropdown-item" href="#">{% translate 'نرم افزار' %}</a> </li>
						</ul>
					</li>
				</ul>
				<!-- Nav category menu END -->

				<!-- Nav Main menu START -->
				<ul class="navbar-nav navbar-nav-scroll me-auto">
					<!-- Nav item 1 Demos -->
					<li class="nav-item dropdown">
						<a class="nav-link" href="{% url 'website:home' %}" >{% translate 'صفحه اصلی' %}</a>
					</li>
					<li class="nav-item"> <a class="nav-link" href="{% url 'website:about' %}">{% translate 'درباره ما' %}</a></li>
					<li class="nav-item"> <a class="nav-link" href="{% url 'website:contact' %}">{% translate 'ارتباط با ما' %}</a></li>
					<li class="nav-item"> <a class="nav-link" href="{% url 'website:blog-list' %}">{% translate 'وبلاگ' %}</a></li>
					<li class="nav-item"> <a class="nav-link" href="{% url 'website:shop' %}">{% translate 'محصولات' %}</a></li>
					<!-- Nav item 2 Pages -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="pagesMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% translate 'صفحات' %}</a>
						<ul class="dropdown-menu" aria-labelledby="pagesMenu">
                            <li> <a class="dropdown-item" href="{% url 'website:about' %}">{% translate 'درباره ما' %}</a></li>
                            <li> <a class="dropdown-item" href="{% url 'website:contact' %}">{% translate 'ارتباط با ما' %}</a></li>
                            <li> <a class="dropdown-item" href="{% url 'website:blog-list' %}">{% translate 'وبلاگ' %}</a></li>
                            <li> <a class="dropdown-item" href="{% url 'website:shop' %}">{% translate 'محصولات' %}</a></li>
                            {% comment %} <li> <a class="dropdown-item" href="#">لیست قیمت تجهیزات</a></li>
                            <li> <a class="dropdown-item" href="#">سوالات متداول</a></li>
                            <li> <a class="dropdown-item" href="#">صفحه 404</a></li>
                            <li> <a class="dropdown-item" href="#">به زودی</a></li> {% endcomment %}
						</ul>
					</li>

					<!-- Nav item 4 Megamenu-->
					<li class="nav-item dropdown dropdown-fullwidth ">
						<a class="nav-link dropdown-toggle " href="{% url 'website:blog-list' %}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% translate 'دانشنامه'%}</a>
						<div class="dropdown-menu dropdown-menu-end d-none d-md-block" data-bs-popper="none">
							<div class="row p-4 g-4">
								<!-- Dropdown column item -->
								<div class="col-xl-6 col-xxl-4">
									<h6 class="mb-0">{% translate 'مقالات آزمایشگاه خاک'%}</h6>
									<hr>
									<ul class="list-unstyled">
                                        <li> <a class="dropdown-item" href="/the-stages-of-establishing-a-soil-laboratory/">{% translate 'مراحل تاسیس آزمایشگاه خاک'%}</a> </li>
										<li> <a class="dropdown-item" href="/conditions-for-establishing-a-concrete-laboratory/">{% translate 'شرایط تاسیس آزمایشگاه بتن'%}</a> </li>
										<li> <a class="dropdown-item" href="/cbr-in-place/">{% translate 'آزﻣﺎﻳﺶ CBR (ﺗﻌﻴﻴﻦ ﻧﺴﺒﺖ ﺑﺎرﺑﺮی ﻛﺎﻟﻴﻔﺮﻧﻴﺎ)'%}</a> </li>
										<li> <a class="dropdown-item" href="/triaxial-test/">{% translate 'آزمایش سه محوری خاک'%}</a> </li>
										<li> <a class="dropdown-item" href="/unconfined-compression-test/">{% translate 'آزمایش تک‌ محوری محصورنشده'%}</a> </li>
                                        <li> <a class="dropdown-item" href="/consolidation-test/">{% translate 'آزمایش تحکیم خاک'%}</a> </li>
										<li> <a class="dropdown-item" href="/atterberg-limits/">{% translate 'آزمایش حدود اتربرگ'%}</a> </li>
										<li> <a class="dropdown-item" href="/lugeon-permeability-test-method/">{% translate 'آزمایش لوژان'%}</a> </li>
										<li> <a class="dropdown-item" href="/direct-shear-test/">{% translate 'آزمایش برش مستقیم'%}</a> </li>
										<li> <a class="dropdown-item" href="/types-of-soil/">{% translate 'انواع تیپ خاک'%}</a> </li>
                                        <li> <a class="dropdown-item" href="/plate-load-test/">{% translate 'آزمایش بارگذاری صفحه'%}</a> </li>

                                        <hr>
										<li> <a class="dropdown-item" href="{% url 'website:blog-list' %}">{% translate 'مشاهده همه'%}</a> </li>
									</ul>
								</div>

                                <div class="col-xl-6 col-xxl-4">
									<h6 class="mb-0">{% translate 'مقالات آزمایشگاه بتن'%}</h6>
									<hr>
									<ul class="list-unstyled">
										<li> <a class="dropdown-item" href="/what-is-the-modulus-of-elasticity-of-concrete-and-what-are-its-uses/">{% translate 'مدول الاستیسیته بتن چیست و چه کاربردهایی دارد؟'%}</a> </li>
                                        <li> <a class="dropdown-item" href="/concrete-slump-test/">{% translate 'آزمایش اسلامپ بتن + گزارش نویسی'%}</a> </li>
										<li> <a class="dropdown-item" href="/how-long-does-it-take-for-concrete-to-dry/">{% translate 'مدت زمان خشک شدن بتن'%}</a> </li>
										<li> <a class="dropdown-item" href="/ultrasonic-testing/">{% translate 'آزمایش التراسونیک بتن'%}</a> </li>
										<li> <a class="dropdown-item" href="/compressive-strength-of-concrete/">{% translate 'آزمایش مقاومت فشاری بتن'%}</a> </li>
										<li> <a class="dropdown-item" href="/abrasion-test-of-concrete-aggregates-in-19-mm-los-angeles-device/">{% translate 'آزمایش سایش سنگدانه‌ (لس‌آنجلس ۱۹ میلی‌متر)'%}</a> </li>
										<li> <a class="dropdown-item" href="/abrasion-test-of-concrete-aggregates-in-los-angeles-machine-37-5-mm/">{% translate 'آزمایش سایش سنگدانه‌ (لس‌آنجلس ۳۷.۵ میلی‌متر)'%}</a> </li>
										<li> <a class="dropdown-item" href="/schmidt-hammer-test/">{% translate 'آزمایش چكش اشمیت'%}</a> </li>
										<li> <a class="dropdown-item" href="/air-content-of-freshly-mixed-concrete/">{% translate 'آزمایش تعیین مقدار هوای مخلوط بتن تازه'%}</a> </li>
										<li> <a class="dropdown-item" href="/testing-the-tensile-strength-of-concrete-by-splitting-method/">{% translate 'آزمایش مقاومت کششی بتن به روش دو نیم شدن'%}</a> </li>
										<li> <a class="dropdown-item" href="/conditions-for-establishing-a-concrete-laboratory/">{% translate 'شرایط تاسیس آزمایشگاه بتن'%}</a> </li>
                                        <hr>
										<li> <a class="dropdown-item" href="{% url 'website:blog-list' %}">{% translate 'مشاهده همه'%}</a> </li>
									</ul>
								</div>
                                <div class="col-xl-6 col-xxl-4">
									<h6 class="mb-0">{% translate 'مقالات آزمایشگاه سیمان و سنگدانه'%}</h6>
									<hr>
									<ul class="list-unstyled">
										<li> <a class="dropdown-item" href="/portland-cement-softness-test/">{% translate 'آزمایش نرمی سیمان پرتلند'%}</a> </li>
										<li> <a class="dropdown-item" href="/test-to-determine-the-amount-of-expansion-in-portland-cement/">{% translate 'آزمایش تعیین مقدار انبساط در سیمان پرتلند'%}</a> </li>
										<li> <a class="dropdown-item" href="/test-to-determine-the-density-of-hydraulic-cement/">{% translate 'آزمایش تعیین دانسیته سیمان هیدرولیک'%}</a> </li>
										<li> <a class="dropdown-item" href="/time-of-setting-hydraulic-cement-by-vicat-needle/">{% translate 'آزمایش گیرش سیمان با سوزن ویکات'%}</a> </li>
										<li> <a class="dropdown-item" href="/test-to-determine-the-compressive-strength-of-hydraulic-cement-mortars/">{% translate 'آزمایش مقاومت فشاری سیمان هیدرولیکی'%}</a> </li>
										<li> <a class="dropdown-item" href="/test-for-determination-of-specific-gravity-and-water-absorption-of-fine-aggregates/">{% translate 'آزمایش تعیین وزن مخصوص و جذب آب سنگدانه‌های ریز'%}</a> </li>
										<li> <a class="dropdown-item" href="/experiment-to-determine-the-amount-of-light-grains-in-granular-materials/">{% translate 'آزمایش تعیین مقدار دانه های سبک در مصالح دانه ای'%}</a> </li>
										<li> <a class="dropdown-item" href="/particle-size-analysis/">{% translate 'آزمایش دانه بندی به روش هیدرومتری'%}</a> </li>
										<li> <a class="dropdown-item" href="/experiment-to-determine-the-coefficient-of-elongation-of-coarse-grained-materials/">{% translate 'آزمایش تعیین ضریب تطویل مصالح درشت دانه'%}</a> </li>
										<li> <a class="dropdown-item" href="/testing-to-determine-the-coefficient-of-shrinkage-of-coarse-grained-materials/">{% translate 'آزمایش تعیین ضریب تورق (پولکی بودن) مصالح درشت دانه'%}</a> </li>
										<li> <a class="dropdown-item" href="">.</a> </li>

                                        <hr>
										<li> <a class="dropdown-item" href="{% url 'website:blog-list' %}">{% translate 'مشاهده همه'%}</a> </li>
									</ul>
								</div>


								<!-- Action box -->
								<div class="col-12 d-none d-md-block">
									<div class="alert alert-success alert-dismissible fade show mt-2 mb-0 rounded-3" role="alert">
                                         {% translate 'برای خرید لیست تجهیزات پایه آزمایشگاه خاک و بتن '%}
                                        <a href="#" class="alert-link">{% translate 'ثبت نام'%}</a>
                                        {% translate 'را انتخاب کنید'%}
									</div>
								</div>
							</div>
						</div>
					</li>
					<!-- changeLanguage-->
					{% comment %} <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="languageMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							{% translate 'تغییر زبان' %}
						</a>
						<ul class="dropdown-menu" aria-labelledby="languageMenu">
							{% get_available_languages as LANGUAGES %}
							{% get_language_info_list for LANGUAGES as languages %}
							{% csrf_token %}
							{% for language in languages %}
								<li>
									<a class="dropdown-item language-option" data-lang="{{ language.code }}" href="#">
										{{ language.name_local }}
									</a>
								</li>
							{% endfor %}
						</ul>

					</li> {% endcomment %}

				<!-- Nav Main menu END -->
				<!-- Nav download START -->
				<div class="nav my-3 my-xl-0 px-4 flex-nowrap align-items-center">
					<div class="nav-item w-100">
						<form class="position-relative" action="{% url 'product:product-grid' %}">
							<input class="form-control pe-5 bg-transparent" type="search" placeholder="{% translate 'جستجو...'%}" aria-label="Search" name="q">
							<button class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset" type="submit">
								<i class="fas fa-search fs-6 "></i>
							</button>
						</form>
					</div>
				</div>
				<!-- Nav Search END -->
			</div>

			<!-- Main navbar END -->
			<!-- Responsive navbar toggler -->
		</div>
	</nav>
	<!-- Nav END -->

