<nav class="center-nav">
    <ul class="d-flex align-items-center justify-content-between">
        <li class="#{% url 'website:soil-laboratory' %}"><a href="">
            آزمایشگاه خاک
        </a></li>
        <li class="#{% url 'website:concrete-laboratory' %}"><a href="">آزمایشگاه بتن</a></li>
        <li class="#{% url 'website:asphalt-laboratory' %}"><a href="">آزمایشگاه آسفالت</a></li>
        <li class="#{% url 'website:rock-laboratory' %}"><a href="">آزمایشگاه سنگ</a></li>
        <li class="#{% url 'website:general-laboratory' %}"><a href="">آزمایشگاه عمومی</a></li>


    </ul>
</nav>