{% extends '../core/base.html' %}
{% load static %}



{% block title %}About Us{% endblock title%}


{% block content %}


<section class="">   
    <div class="about-us-holder bg-light p-5 my-5">
        <div class="container">
            <head class="col-12 text-center">
                <h1>داستان ما</h1>
            </head>
            <div class="text-justify">
                <p class="d-flex flex-start">
                    سال 1384 و با تاسیس شرکت مهندسین مشاور پی خاک سنگ

سال 1384 و با تاسیس شرکت مهندسین مشاور پی خاک سنگ، به عنوان مشاور ژئوتکنیک و مقاومت مصالح، وارد دنیای کار شدیم. آن روزها هزار سوال و مساله داشتیم که جواب آنها را به راحتی نمی توانستیم پیدا کنیم، سوالهایی مانند اینکه چطور آزمایشگاه خود را تاسیس کنیم؟ چه دستگاه هایی واقعاً لازم داریم؟ چطور درآمد خود را افزایش دهیم؟ چطور کار کنیم که بتوانیم شرکت خود را رشد دهیم؟ این سوالها و مساله ها، کمک می کرد کوشش کنیم برای مشکلات و مسائل، راه حل هایی پیدا کنیم.

کم کم مهندس های جوانی به شرکت ما آمدند و در انجام پروژه های شرکت، همکار ما شدند. خیلی از آنها دلشان می خواست بعد از چند سال تجربه و کسب مهارت، شرکت خودشان را تاسیس کنند. ما هم همیشه سعی کردیم کنار آنها باشیم، چه وقتی که همکار ما بودند و دلشان می خواست این کار را بهتر یاد بگیرند و چه وقتی که می خواستند از شرکت ما بروند و کسب و کار خود را راه اندازی کنند.

به همین دلیل، ما نیز درگیر یک تجربه جدید شدیم و آن اینکه کمک کنیم، همکاران ما مستقل شوند و صاحب آزمایشگاه های خود و کار و حرفه شخصی خودشان بشوند.  همراه با این مهندسان جوان، ما هم دوباره به سوالهایی روزهای اول کار خود
ب
ر خود بر می خوردیم که حالا از نگاهی دیگر آنها را می دیدیم و برای آنها جواب هایی داشتیم:

روش تاسیس شرکت چگونه است؟ چطور می شود مجور گرفت؟ چه دستگاه هایی واقعا لازم است خریداری کنم؟ چطور از خریدم مطمئن باشم؟ از کجا تهیه کنم؟ کار با دستگاه ها را چگونه به صورت حرفه ای بیاموزم؟ آیا همه دستگاه ها بر اساس استانداردها ساخته شده است؟ آیا امکان خرید ارزان دستگاه های استاندارد وجود دارد؟ نرم افزارهای مرتبط با آزمایشها و گزارش نویسی را چگونه می توان آموخت؟ اصلا با چه کسی در سرتاسر این راه مشورت کنم؟

شروع کار گروه صنعتی پی خاک سنگ

درست از همینجا بود که ما در شرکت پی خاک سنگ به فکر افتادیم، برای نسل جدید مهندسان ژئوتکنیک راه هایی پیدا کنیم که کار را برای آنها ساده تر کند. برای این کار، سعی کردیم در همین آغاز به کار این همکاران جدید، تجربه هایمان را در اختیار آنها بگذاریم و کمک کنیم کسب و کارشان راه بیفتد و در آن موفق تر عمل کرده و بهتر به نتیجه دلخواه خود برسند.

همان وقت بود که بیشتر متوجه یک مشکل قدیمی شدیم: اینکه تجهیزات دقیق و با کیفیت، بسیار گران است و برای تازه واردان این عرصه چه بسا تهیه آنها به سادگی ممکن نیست، از آن گذشته، غالباٌ وقتی دستگاهی خریداری می شود، روش نصب، راه اندازی و نهایتا کار با دستگاه ها غالبا همراه خرید، آموزش داده نمی شود.

به همین دلیل، بر اساس تجربه چندین ساله خود در کار با دستگاه های این حوزه، دست به کار شدیم و خودمان، بر اساس تجربه ای که در استفاده از این تجهیزات و دستگاه ها داشتیم، شروع به تولید دستگاه ها کردیم. دستگاه هایی که هم دقیق و استاندارد باشد و هم قیمت مناسبی داشته باشد به گونه ای که یک مهندس جوان بتواند با قیمتی مناسب، تجهیزاتی کاملا استاندارد و با کیفیت، تهیه و کسب و کار خود را بی دغدغه تر شروع کند.

چنین بود که خود را از آغاز متعهد کردیم دستگاه هایی طراحی و تولید کنیم که اولا صد در صد استاندارد باشد، دوم آنکه به ارزان ترین شکل ممکن تهیه و تولید شود و سوم آنکه دقیق ترین نتیجه ها را برای کاربرانش داشته باشد.

به این ترتیب، سعی کرده ایم به شکلی کار کنیم که مهندسان جوان، ببینند همه نگرانی ها و دغدغه های آنها در این شرکت دیده شده و برای همه آنها فکر شده و راه حل هایی متناسب برای آنها طراحی شده است. به همین دلیل است که ما بیش از آنکه تولیدکننده دستگاه هایی مورد نیاز مهندسان جوان باشیم، مشاور آنها هستیم و با اشتیاق، هر چه در این سالها تجربه کرده ایم، آماده ایم با همکاران جوان در میان بگذاریم و کمک کنیم، مسیر فعالیت آنها ساده، علمی و مقرون به صرفه تر باشد.

در عین حال، همیشه بهترین مشورت ها را نیز از مهندسان جوانی گرفته ایم که با این شرکت در تماس بوده و نظرها و پیشنهادهایشان را با ما در میان گذاشته و کمک کرده اند، این شرکت همیشه در حال تکاپو و کوشش برای یادگیری و بهبود مسیرها و روشها و تولیداتش باشد و برای مشتریانش همیشه جایی مطمئن بماند.
                </p>
            </div>
        </div>


    </div>
    <!-- Page FAQ-->
    <div class="FAQ-holder bg-light p-5">
        <div class="">
            <div class="header" >
                <div class="">
                    <h2 class="elementor-heading-title elementor-size-xl">سؤالات متداول</h2>
                </div>
            </div>
            <div class="header">
                <div class="elementor-widget-container">
                    <h3 class="elementor-heading-title elementor-size-default">شیوه ارسال تجهیزات</h3>
                </div>
            </div>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        از کجا مطمئن باشم کالاهایی که به دستم می رسد سالم تحویل می شود؟
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                      <strong>کالاهای خریداری شده به طور مناسب بسته‌بندی شده و با پلاستیک‌های حباب دار و کارتن، بسته‌بندی شده و ارسال می‌گردند و نکات ایمنی جهت حمل برای تجهیزات اعمال می‌گردد.

                      </strong>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        چه زمانی ارسال کالاها انجام می‌شود؟
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <strong>
                        بالافاصله پس از بسته‌بندی و آماده نمودن تجهیزات، ارسال کالاها انجام می‌شود.
                      </strong> 
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        آیا دستگاه‌ها جهت ارسال بیمه می‌شوند؟
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        کلیه تجهیزات ارسال شده نزد شرکت‌های معتبر بیمه بسته به مقدار ارزش کالا بیمه شده و سپس ارسال می‌گردند.
                    </div>
                  </div>
                </div>
            </div>
            <div class="header">
                <div class="elementor-widget-container">
                    <h3 class="elementor-heading-title elementor-size-default">شیوه پرداخت</h3>
                </div>
            </div>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        آیا امکان خرید قسطی وجود دارد؟
                    
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                      <strong>
                        پرداخت نقدی ایده آل هر شرکتی است، اما گاهی با شرایط مشتری هماهنگ نیست و کسی که تازه کسب و کاری راه می‌اندازد، شاید به هر دلیلی نتواند، کل هزینه دستگاه‌ها را به طور نقدی پرداخت کند. از این رو این امکانی پیش‌بینی شده است که مشتریان با پرداخت بخشی از مبلغ خرید به صورت نقدی، بقیه هزینه‌ها را در اقساط چندین ماهه پرداخت کنند.
                      </strong>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        در چه شرایطی، امکان تخفیف وجود دارد؟
                    
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <strong>
                        با خرید نقدی، به میزان ۷ درصد به مشتریان تخفیف داده می‌شود.

                    </strong> 
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        آیا امکان پرداخت با چک، ممکن است؟
                    
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        بله، این شرکت شرایط متنوع پرداخت را برای مشتریان خود فراهم نموده است از جمله پرداخت به صورت چک که با تنفس ۲ ماهه انجام می‌گردد. لذا با توجه به مشکلات شرکت های در حال تأسیس و عدم امکان درآمدزا بودن آنها در ۲ ماهه اول تأسیس، این شرکت چک‌های پرداختی را ۲ ماه پس از خرید تجهیزات، در نظر می‌گیرد.

                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        شرایط پرداخت با چک چگونه است؟

                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                      <div class="accordion-body">
                        پرداخت چک‌های ماهانه با تنفس ۲ ماهه و در ۳ فقره چک ۲، ۳ و ۴ ماهه می‌باشد.


                      </div>
                    </div>
                  </div>
            </div>
            <div class="header">
                <div class="elementor-widget-container">
                    <h3 class="elementor-heading-title elementor-size-default">
                        شرایط عودت کالا
                    </h3>
                </div>
            </div>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        در چه شرایطی امکان عودت کالا وجود دارد؟                        
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                      <strong>
                        در صورتی که خریدار از دستگاه استفاده نکرده باشد و به شرط سلامت کامل دستگاه‌های خریداری شده، تجهیزات فوق به هر دلیلی امکان پس دادن را دارند و این شرکت تجهیزات فروخته شده را پس گرفته و مبلغ پرداخت شده را به حساب خریدار واریز می‌کند.

                    </strong>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        آیا پس از عودت کالا، شرکت خسارتی را دریافت می‌کند؟                        
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <strong>
                        پس دادن کالا هیچ خسارتی برای خریدار ندارد، البته اگر دستگاه‌های بسته‌بندی شده، از حالت آکبند خارج گردند (مانند دستگاه آرماتوریاب)، که دارای
لیبل بسته‌بندی هستند، در این صورت 25 درصد از مبلغ دستگاه پس از عودت کسر می‌گردد. در خصوص دستگاه‌های دیگر مانند برش مستقیم، کاساگراند، گرمخانه‌ها، الک، الک شستشو و سایر موارد این گونه نبوده و فقط سلامت کالامورد نظر می‌باشد.
                    </strong> 
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        تا چه مدت امکان عودت کالا وجود دارد؟                        
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        در صورت سلامت تجهیزات و دستگاه‌ها تا ۲ ماه پس از ارسال، امکان بازپس‌گیری کالا وجود دارد.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        در صورت عودت کالا، هزینه پست به عهده چه کسی خواهد بود؟
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                      <div class="accordion-body">
                        به منظور عودت محصول، هزینه پست بر عهده مشتری خواهد بود.  
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content%}
