/* Typography */
body{font-family:'Oswald',sans-serif;font-size:13px;color:#58585A;font-weight:400;}
a{word-wrap:break-word;text-decoration:none;}
a:hover{text-decoration:none;}
a:focus{outline:0;text-decoration:none;}
a:active:focus{outline:0;text-decoration:none;}
h1,
h2,
h3,
h4,
h5{margin:0;padding:0;font-weight:400;}
p{font-family:'Open Sans',sans-serif;line-height:20px;white-space:pre-wrap;      /* CSS3 */white-space:-moz-pre-wrap; /* Firefox */white-space:-pre-wrap;     /* Opera <7 */white-space:-o-pre-wrap;   /* Opera 7 */word-wrap:break-word;      /* IE */}
p:empty{display:none;}
b{color:#001A71;}
.img-responsive{display:inline-block;}
hr{margin:10px 0 35px;width:100px;border-top:2px solid #FFD100;}
li.disabled{pointer-events:none;}

/* CookieHub */
.cookiehub-declaration p { padding-left:0 !important; padding-right:0 !important; color:#000;font-size:16px !important; } .cookiehub-declaration td, .cookiehub-declaration th { padding: 10px 10px !important; }
.cookiehub-declaration th { background-color:#333; color:#fff; }
.cookiehub-declaration td { color:#000; }
.cookiehub-declaration tr:nth-of-type(odd) { background-color:#f0f0f0; color:#000; }
.cookiehub-declaration tr:nth-of-type(odd) td, .cookiehub-declaration tr:nth-of-type(odd) td p { background-color:#f0f0f0; color:#000; }
/* End CookieHub */

/* Placeholders */
::-webkit-input-placeholder{color:#555;}
:-moz-placeholder{color:#555;}
::-moz-placeholder{color:#555;}
:-ms-input-placeholder{color:#555;}
.divider{height:2px;background:#FFD100;max-width:120px;display:inline-block;margin:20px auto;width:100%;}
.table-loader{font-size:10px;position:absolute;left:0;right:0;margin:0 auto;text-indent:-9999em;width:4em;height:4em;border-radius:50%;background:#ffffff;background:-moz-linear-gradient(left,#ffffff 10%,rgba(255,255,255,0) 42%);background:-webkit-linear-gradient(left,#ffffff 10%,rgba(255,255,255,0) 42%);background:-o-linear-gradient(left,#ffffff 10%,rgba(255,255,255,0) 42%);background:-ms-linear-gradient(left,#ffffff 10%,rgba(255,255,255,0) 42%);background:linear-gradient(to right,#ffffff 10%,rgba(255,255,255,0) 42%);-webkit-animation:load3 1.4s infinite linear;animation:load3 1.4s infinite linear;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);}
.table-loader:before{width:50%;height:50%;background:#00b1eb;border-radius:100% 0 0 0;position:absolute;top:0;left:0;content:'';}
.table-loader:after{background:#FFCA06;width:75%;height:75%;border-radius:50%;content:'';margin:auto;position:absolute;top:0;left:0;bottom:0;right:0;}
@-webkit-keyframes load3{
  0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
  100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
@keyframes load3{
  0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
  100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}

/* Helpers */
.p0{padding:0;}
.m0{margin:0;}
.row-p0 [class*="col-"]{padding-left:0!important;padding-right:0!important;}
.pl0{padding-left:0;}
.pr0{padding-right:0;}
.w100{width:100%;}
.wauto{width:auto;}
.btn{border-radius:0;}
.btn.focus,
.btn:focus,
.btn:hover{outline:none;}
.upper{text-transform:uppercase;}
.showprint{display:none!important;}
.tiny-margin-r20{margin-bottom:20px;margin-right:20px;}
.tiny-margin-l20{margin-bottom:20px;margin-left:20px;}

/* Bootstrap 3.3.7 Overrides & Addons */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15{position:relative;min-height:1px;padding-right:10px;padding-left:10px}
.col-xs-15{width:20%;float:left}


.wwu_position_container{
  /*border: 1px solid #58585A;*/
  padding: 20px;
  margin-bottom: 40px;
}

.accordion_wwu a{
  display: block;
  width: 100%;
}

.accordion_wwu .panel{
  box-shadow: none;
}

.accordion_wwu .panel-default, .accordion_wwu .panel-body{
  border: 0;
  border-bottom: 1px solid #ddd;
}

.accordion_wwu .panel-heading, .accordion_wwu .panel-body{
  background-color: #fafafa;
}

.accordion_wwu .panel-heading:hover{
  background-color: #FFD100;
}

.accordion_wwu .panel-heading::after{
  content: "+";
  float: right;
  margin-top: -25px;
  font-size: 24px;
}

.accordion_wwu .panel-heading.active::after{
  content: "-";
  margin-top: -30px;
}

.accordion_wwu .panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{
  border: 0;
}

.accordion_wwu .btn{
  display: inline-block;
  width: auto;
}

#form_workwithus .form-control{
  height: 40px;
}

@media (min-width:768px){
  .col-sm-15{width:20%;float:left}
}
@media (min-width:992px){
  .col-md-15{width:20%;float:left}
}
@media (min-width:1200px){
  .col-lg-15{width:20%;float:left}
}
@media print{
  .showprint{display:inherit!important;}
  .noprint,
  .noprint *{display:none!important;}
  .tab-content{display:block;}
  .tab-content>.tab-pane{display:block;}
}
.home-slider .carousel-inner .img-slide{height:600px;}
.home-slider .carousel-inner .item .carousel-img{min-height:600px;background-size:cover!important;}
.carousel-caption.caption-left{top:50%;left:13%;text-align:left;right:auto;transform:translate(0%,-50%);text-shadow:none;display:inline-table;}
.carousel-caption{bottom:auto;top:0;text-align:left;left:50%;right:auto;transform:translate(-40%,30%);width:36%;}
.carousel-caption h3{font-size:40px;text-shadow:none;color:#001A71;font-family:'Oswald',sans-serif;text-transform:uppercase;font-weight:bold;}
.carousel-caption p{margin:10px 0 0 0;color:#001A71;text-shadow:none;font-family:'Oswald',sans-serif;text-transform:uppercase;font-size:24px;}
.carousel-products{position:absolute;bottom:30px;width:100%;transform:translate(-50%,0);left:50%;text-align:center;}
.carousel-products ul{margin:0;padding:0;}
.carousel-products li{list-style:none;display:inline-block;margin:0 0.5%;}
.carousel-products li img{width:100%}
.carousel-products li h4{font-family:'Oswald',sans-serif;text-transform:uppercase;font-weight:bold;font-size:14px;color:#001A71;}
.carousel-products li p{font-family:'Oswald',sans-serif;text-transform:uppercase;margin:0;font-size:11px;color:#3E3D40;}

/*.carousel-caption.caption-center{top:50%;left: 50%; margin-right: -50%; transform: translate(-50%, -50%); text-align:center;text-shadow:none;display:inline-table;}
.carousel-caption.caption-right{top:50%;right:13%;text-align:right;left:auto;transform:translate(0%,-50%);text-shadow:none;display:inline-table;}*/
a.carousel-control img{top:40%;position:relative;width:15px;}
.carousel-indicators{left:20px;width:0;padding-left:0;margin-left:0;top:50%;}
.carousel-indicators li{border-color:#001A71;}
.carousel-indicators .active{background:#001A71;}
.item.one-photo .carousel-caption{right:0;left:auto;width:20%;top:50%;transform:translate(-75%,-50%);text-align:right;background:rgba(255,255,255,0.7);padding:20px 20px 0;}
.carousel-caption .slide1{background:rgba(255,255,255,0.85);width:458px;padding:50px;}
.carousel-caption .slide1 h3{text-transform:uppercase;font-size:63px;font-weight:600;color:#001A71;}
.carousel-caption .slide1 .hr-carousel{margin:none!important;}
.carousel-caption .slide1 p{color:#58585A;margin:0;font-size:40px;}
.carousel-caption .slide2{width:590px;}
.carousel-caption .slide2 img{position:absolute;right:-15px;margin-top:29px;width:56px;}
.carousel-caption .slide2 h5{text-transform:uppercase;font-size:30px;color:#58585A;font-weight:300;}
.carousel-caption .slide2 h3{text-transform:uppercase;font-size:63px;font-weight:600;color:#001A71;margin-bottom:20px;}
.carousel-caption .slide2 p{color:#58585A;margin:0 0 40px;font-family:'Oswald',sans-serif;font-size:18px;font-weight:300;}

/* Bootstrap 3.3.7 Overrides & Addons */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15{position:relative;min-height:1px;padding-right:10px;padding-left:10px}
.col-xs-15{width:20%;float:left}
@media (min-width:768px){
  .col-sm-15{width:20%;float:left}
}
@media (min-width:992px){
  .col-md-15{width:20%;float:left}
}
@media (min-width:1200px){
  .col-lg-15{width:20%;float:left}
}

@media print {
 .noprint {display:none;}
 .tab-content{ display: block; }
 .tab-content>.tab-pane{ display: block; }
}
.carousel-caption.caption-left{top:50%;left:13%;text-align:left;right:auto;transform:translate(0%,-50%);text-shadow:none;display:inline-table;}
.carousel-caption{bottom:auto;top:0;text-align:left;left:50%;right:auto;transform: translate(-40%,30%);width: 35%;}
.carousel-caption h3{font-size: 45px; text-shadow: none; color: #001A71;font-family:'Oswald',sans-serif; text-transform: uppercase;font-weight: bold;}
.carousel-caption p{margin:10px 0 0 0;color:#001A71;text-shadow:none;font-family:'Oswald',sans-serif;text-transform:uppercase;font-size:20px;}
.carousel-products{position:absolute;bottom:30px;width:100%;transform:translate(-50%,0);left:50%; text-align: center;}
.carousel-products ul{margin:0;padding:0;}
.carousel-products li{list-style: none; display: inline-block; margin: 0 0.5%;}
.carousel-products li img{width: 100%}
.carousel-products li h4{font-family:'Oswald',sans-serif;text-transform:uppercase;font-weight: bold; font-size: 14px;color:#001A71;}
.carousel-products li p{font-family:'Oswald',sans-serif;text-transform:uppercase;margin:0;font-size: 11px; color: #3E3D40;}
/*.carousel-caption.caption-center{top:50%;left: 50%; margin-right: -50%; transform: translate(-50%, -50%); text-align:center;text-shadow:none;display:inline-table;}
.carousel-caption.caption-right{top:50%;right:13%;text-align:right;left:auto;transform:translate(0%,-50%);text-shadow:none;display:inline-table;}*/
.carousel-control.left {
  background-image: none;
  font-size: 25px;
  text-shadow: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
  padding: 13px;
  top: auto;
  left: 30px;
  bottom: 60px;
  color: #FFD100;
  opacity: 1;
}

.carousel-control.right {
  background-image: none;
  font-size: 25px;
  text-shadow: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
  padding: 13px;
  top: auto;
  right: 30px;
  bottom: 60px;
  color: #FFD100;
  opacity: 1;
}
.carousel-control.left:hover, .carousel-control.right:hover{opacity: 0.5;}
a.carousel-control img{top:40%;position:relative; width: 15px; }
.carousel-indicators{left:20px;width:0;padding-left:0;margin-left:0;top:50%;}
.carousel-indicators li{border-color: #001A71;}
.carousel-indicators .active{background: #001A71;}

.item.one-photo .carousel-caption{right:0;left:auto;width:20%;top:50%;transform:translate(-75%,-50%);}

.carousel-caption .slide1{background:rgba(255,255,255,0.85);width:458px;padding:50px;}
.carousel-caption .slide1 h3{text-transform:uppercase;font-size:63px;font-weight:600;color:#001A71;}
.carousel-caption .slide1 .hr-carousel{margin: none !important;}
.carousel-caption .slide1 p{color:#58585A;margin:0;font-size:40px;}

.carousel-caption .slide2{width:590px;}
.carousel-caption .slide2 img{position:absolute;right:-15px;margin-top:29px;width:56px;}
.carousel-caption .slide2 h5{text-transform:uppercase;font-size:30px;color:#58585A;font-weight: 300;}
.carousel-caption .slide2 h3{text-transform:uppercase;font-size:63px;font-weight:600;color:#001A71;margin-bottom: 20px;}
.carousel-caption .slide2 p{color:#58585A;margin: 0 0 40px;font-family:'Oswald',sans-serif;font-size:18px;font-weight: 300;}

/* Buttons */
a.btn,
button.btn,
input.btn{white-space:normal;}
a.btn-primary{background:#001A71;color:#FFF;padding:9px 20px;text-transform:uppercase;margin-top:20px;border:0;}
a.btn-primary:hover{background:#FFD100;color:#001A71;}
a.btn-primary:focus,
a.btn-primary:active{outline:0;background:#001A71;color:#FFF;}
a.btn-secondary{background:#FFD100;color:#001A71;padding:9px 20px;text-transform:uppercase;border:0;}
a.btn-secondary:focus{outline:0;background:#FFD100;color:#001A71;}
button.btn-primary{background-color:#58585A;border-color:#58585A;border:0;text-transform:uppercase;}
button.btn-primary:hover{background-color:#FFD100;border-color:#FFD100;}
button.btn-primary:focus,
button.btn-primary:active{background-color:#58585A;border-color:#58585A;}
#cookieChoiceInfo a{color:#FFD100;}
#cookieChoiceInfo a:hover,
#cookieChoiceInfo a:focus{color:#FFF;}

/* Section > Video > Cover */
.item.is-video{overflow:hidden;position:relative;height:600px;}
.item.is-video .videoContainer{position:absolute;top:0;bottom:0;width:100%;height:100%;overflow:hidden;-webkit-transition:width .3s;-moz-transition:width .3s;-o-transition:width .3s;transition:width .3s;}
.item.is-video .videoContainer .videoBg{min-width:100%;min-height:100%;width:auto;height:auto;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.item.is-video .video-buttons {position:absolute;bottom:33px;left:33px;z-index:9;}
.item.is-video .video-buttons .btn-video-audio {padding:23px;background-image:url(/assets/media/icon/icon-audio-off-2.svg);background-repeat:no-repeat;background-size:30px;background-position:center center;background-color:transparent;}
.item.is-video .video-buttons .btn-video-audio.is--muted {background-image:url(/assets/media/icon/icon-audio-on-2.svg);background-repeat:no-repeat;background-size:30px;background-position:center center;}
@media only screen and (max-width: 767px) and (min-width: 320px) {
  .item.is-video {height:200px;}
  .item.is-video .videoContainer .videoBg {height:auto;width:100%;transform:none;position: relative;left:0;right:0;top:initial;}
  .item.is-video .videoContainer .videoBg  video {width:100%;}
  .item.is-video .video-buttons {left:0;bottom:0;}
  #home-carousel-video.carousel .carousel-control.left {padding:0;}
  #home-carousel-video.carousel .carousel-control.right {padding:0;}
}
@media only screen and (min-width: 768px) and (max-width:959px){
  .item.is-video {height:300px;}
}

#home-carousel-video.carousel .carousel-control.right {top:50%;transform:translate(0,-50%);bottom:initial;}
#home-carousel-video.carousel .carousel-control.left {top:50%;transform:translate(0,-50%);bottom:initial;}

/* Elements */
.go-top{position:fixed;bottom:2em;right:2em;text-decoration:none;color:#fff;background-color:#FFD100;font-size:12px;padding:10px 15px;display:none;z-index:99;}
.go-top:hover{opacity:0.8;}
.go-top i{font-size:20px;color:#001A71;}

/* pagination */
.pagination>li>a,
.pagination>li>span{border:0;}
.pagination{margin:60px 0 30px;}
.pagination>li{display:inline-block;margin:0 10px;}
.pagination>li>a{color:#777777;font-size:12px;}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover{background:#f5f5f5;color:#58585A;}

/* Sidebar Toggle */
.sidebar .well{padding:0;margin-bottom:0;background-color:transparent;border:0;border-radius:4px;-webkit-box-shadow:none;box-shadow:none;}
.sidebar.company .taber h5{border-left:2px solid #FFD100;}
.sidebar.company .taber h5 a{color:#001A71;}
.sidebar.company .taber h5 a:hover{color:#001A71;}
.sidebar .well .list-unstyled li{font-size:14px;text-transform:uppercase;padding-bottom:10px;border-bottom:1px dashed #EBEBEB;margin-bottom:10px;}
.sidebar .well .list-unstyled li a{color:#58585A;}
.sidebar .well .list-unstyled li a:hover{color:#001A71;}
.taber h5{border-bottom:0;margin:0 0 50px;margin-top:0!important;font-size:24px;text-transform:uppercase;text-transform:uppercase;padding:0 0 3px 10px;color:#3E3D40;}

/* Form */
.classe_errore{background-color:#fbd6be!important;}
.input_errore:focus{border:solid 1px #eb0303;}
.error{display:none!important;}
.form-control{border-radius:0;margin-bottom:10px;height:50px;}
.privacy{margin-top:20px;}

/* Owl Carousel */
.owl-prev{left:0;}
.owl-next{right:0;}
.owl-products .owl-nav{margin-top:0;}
.owl-prev{position:absolute;left:-37px;top:57%;}
.owl-next{position:absolute;right:-39px;top:57%;}
.owl-products .owl-nav{display:block!important;}
.owl-products .owl-nav [class*=owl-]{background:transparent!important;}
.owl-newshome .owl-nav{display:none;}

/* Icons */
.icon{width:18px;height:18px;display:inline-block;background-size:contain;}
.icon--right{background-position:right center;}
.icon--center{background-position:center center;}
.icon--middle{vertical-align:middle;position:relative;}

/* .icon-demo {background:url(/assets/img/ic-demo.svg)no-repeat;} */

/* Head + Nav */
header .navbar-fixed-bottom,
.navbar-fixed-top{position:relative;}
header .navbar-default{background-color:#001A71;border-color:#001A71;}
header .navbar-default .navbar-nav>li{border-bottom:2px solid rgba(255,255,255,0);width:12.5%;margin-bottom:-2px;}
header .navbar-default .navbar-nav>li:hover{color:#FFF;}
header .navbar-default .navbar-nav>li>a{font-size:16px;color:#FFF;text-transform:uppercase;line-height:0;padding:22px 0 20px;}
header .navbar-default .navbar-nav>li>a:hover{color:#FFF;}
header .navbar-default .navbar-nav>li>a:focus{color:#FFF;}
header .navbar-default .navbar-nav>.active>a,
header .navbar-default .navbar-nav>.active>a:focus,
header .navbar-default .navbar-nav>.active>a:hover{color:#FFF;background-color:transparent;}
header .navbar-default .navbar-nav>li.cat-violet:hover{border-color:#a5add8;}
header .navbar-default .navbar-nav>li.cat-water:hover{border-color:#66c1be;}
header .navbar-default .navbar-nav>li.cat-red:hover{border-color:#e63323;}
header .navbar-default .navbar-nav>li.cat-green:hover{border-color:#c8d300;}
header .navbar-default .navbar-nav>li.cat-petrol:hover{border-color:#62949d;}
header .navbar-default .navbar-nav>li.cat-pink:hover{border-color:#eb999b;}
header .navbar-default .navbar-nav>li.cat-light-blue:hover{border-color:#00b1eb;}
header .navbar-default .navbar-nav>li.cat-smoke:hover{border-color:#b6b79e;}
header .navbar-default .navbar-nav>li.active.cat-violet{border-color:#a5add8!important;}
header .navbar-default .navbar-nav>li.active.cat-water{border-color:#66c1be!important;}
header .navbar-default .navbar-nav>li.active.cat-red{border-color:#e63323!important;}
header .navbar-default .navbar-nav>li.active.cat-green{border-color:#c8d300!important;}
header .navbar-default .navbar-nav>li.active.cat-petrol{border-color:#62949d!important;}
header .navbar-default .navbar-nav>li.active.cat-pink{border-color:#eb999b!important;}
header .navbar-default .navbar-nav>li.active.cat-light-blue{border-color:#00b1eb!important;}
header .navbar-default .navbar-nav>li.active.cat-smoke{border-color:#b6b79e!important;}
header .navbar-default .navbar-nav>li:nth-child(8){border-right:0;}
header .navbar-default .topbar{background:#fafafa;padding:15px 0;font-size:14px;color:#58585A;text-transform:uppercase;}
header .navbar-default .topbar ul{list-style:none;margin:0;}
header .navbar-default .topbar ul li{display:inline-block;}
header .navbar-default .topbar ul li:after{content:" | ";padding:0 5px;}
header .navbar-default .topbar ul li:last-child:after{content:"";padding:0;}
header .navbar-default .topbar ul li:nth-last-child(1):after{content:"";padding:0;}
header .navbar-default .topbar ul li .my-matest-header{color:#FFCA06;}
header .navbar-default .topbar ul li .my-matest-header:hover{color:#001A71;}
header .navbar-default .topbar a{color:#58585A;}
header .navbar-default .topbar a:hover{color:#FFD100;}
header .navbar-default .topbar a.active{color:#001A71;}
header .navbar-default .topbar-logo{background:#FFF;padding:15px 0;}
header .navbar-default .topbar-logo .navbar-brand{padding:0;height:auto;}
header .navbar-default .topbar a.btn{margin-left:5px;}
header .navbar-default .topbar a.btn:hover{background-color:#58585A;}
.navbar{border:0;margin-bottom:0;}
.navbar .navbar-nav{float:none;width:100%;}
.navbar .navbar-collapse{text-align:center;}
.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse{max-height:none;}
.navbar-form input{width:277px!important;height:38px;background:#fafafa;box-shadow:none;font-size:12px;margin-right:10px;}
.navbar-form button.btn-primary{width:38px;height:38px;padding:0;}
.navbar-form button.btn-primary img{margin-top:-5px;}
.second_menu{display:none;}
.richiedi .form-control{border:1px solid #ccc;background:none;}
.richiedi .col-xs-12{padding-left:5px;padding-right:5px;}

/* Card */
.card{background:#fff;position:relative;margin-bottom:30px;border:1px solid #E6E6E6;}
.card-header img{width:100%;height:220px;object-fit:cover;}
.card-body{padding:20px 20px 0;}
.card-body h4{color:#333;font-size:18px;margin:10px 0 20px;margin:0 0 10px;min-height: 50px;}
.card-body p{color:#333;padding-bottom:15px;font-size:14px;margin:0;min-height: 75px;}
.card-body .list-family{font-style:italic;display:initial;color:#666;font-size:14px;}
.card-body i::after{content:"-";}
.card-body i:last-child{margin-right:0px;}
.card-body i:last-child::after{content:none;}

/* Content */
.tymetableclass tr td{height:25px;border:1px solid #f4f4f4;padding:10px;font-family:'Open Sans',sans-serif;font-size:13px;}
.tymetableclass tr:first-child td{font-family:'Oswald',sans-serif;text-transform:uppercase;}
.line.top{width:100%;height:5px;margin-top:-3px;}
.line.bottom{width:100%;height:5px;}
.line-fix{position:fixed;top:0px!important;z-index:8;}
.yellow{background:#FFD100;}
.light-yellow{background:#f2f096;}
.violet{background:#a5add8;border-color:#a5add8!important;}
.water{background:#66c1be;border-color:#66c1be!important;}
.red{background:#e63323;border-color:#e63323!important;}
.green{background:#c8d300;border-color:#c8d300!important;}
.petrol{background:#62949d;border-color:#62949d!important;}
.pink{background:#eb999b;border-color:#eb999b!important;}
.light-blue{background:#00b1eb;border-color:#00b1eb!important;}
.smoke{background:#b6b79e;border-color:#b6b79e!important;}
.text-violet{color:#a5add8!important;}
.text-water{color:#66c1be!important;}
.text-red{color:#e63323!important;}
.text-green{color:#c8d300!important;}
.text-petrol{color:#62949d!important;}
.text-pink{color:#eb999b!important;}
.text-light-blue{color:#00b1eb!important;}
.text-smoke{color:#b6b79e!important;}
.subCategory{margin-left:20px;}
.StandardsName span{margin-right:10px;display:inline-block;}
.text-static img{max-width:50%;height:auto;width:auto;clear:both;margin-bottom:10px;margin-right:10px;}
.familyTable tbody tr.EvenTr{background:#f2f2f2;}
.familyTable tbody tr.OddTr{background:#FFF;}
.section{position:relative;padding:50px 0;}
.section.grey{background:#fafafa;}
.section.grey.news h3,
.section.grey.news h3 a{text-transform:uppercase;color:#001A71;}
.section h1{font-size:30px;color:#001A71;display:inline-block; /* text-transform:uppercase; */}
.section h1 small{display:block;margin-bottom:2px;}
.section.page h2{margin-bottom:25px;font-size:25px;}
.section.breadcrumbs{padding:0;background:#fafafa;z-index:9;}
.section.breadcrumbs .breadcrumb{margin-bottom:0;background:transparent;text-transform:uppercase;font-size:10px;padding:10px 0;color:#58585A;}
.section.breadcrumbs .breadcrumb a span{color:#58585A;}
.section.breadcrumbs .breadcrumb span{color:#001A71;}
.breadcrumb>li+li:before{color:#58585A;content:"\203A";}
.section.history .panel-group{margin-bottom:0;}
.section.history .panel-default{border-color:transparent;box-shadow:none;}
.section.history .panel-default>.panel-heading{color:#001A71;background-color:transparent;border-color:transparent;text-transform:uppercase;padding:0;}
.section.history .panel-default>.panel-heading+.panel-collapse>.panel-body{border-top-color:transparent;margin-left:138px;border-left:1px dashed #EBEBEB;}
.section.history .panel-title a:focus{text-decoration:none;}
.section.history .panel-title .time{width:100px;height:40px;display:inline-block;text-align:center;font-size:13px;font-family:'Open Sans',sans-serif;border:1px solid #E6E6E6;vertical-align:middle;padding:11px 0;margin-right:20px;}
.section.history .panel-title .fa{width:30px;height:30px;background:#FFD100;display:inline-block;padding:10px;font-size:12px;margin-right:20px;transform:rotate(0deg);transition:all 0.5s;}
.section.history .panel-heading.active .panel-title .time{background:#fafafa;}
.section.history .panel-heading.active .fa{background:#001A71!important;color:#FFD100;transform:rotate(45deg);transition:all 0.5s;}
.section.news-events a:hover .card{background:#001A71;}
.section.news-events a:hover .card h4,
.section.news-events a:hover .card p{color:#FFF;}
.section.news-events .card a h4{min-height: 50px;}
.section.search .card{border-bottom:1px solid #E6E6E6;padding:0;border-right:0;border-top:0;border-left:0; margin-bottom: 15px;}
.section.search .card-body{padding:10px 0;}
.section.search .card-body span{background:#ffff00;}
.section.search a:hover .card h4,
.section.search a:hover .card p{color:#001A71;}
.section.search .tab-content{margin-top:20px;}
.section.search .card-body small{background:#001A71;padding:2px 5px;margin-right:6px;font-size:12px;color:#FFF;}
.section.search .card-body small a{color:#FFF;}
.section.catalogues .card{border-bottom:1px solid #E6E6E6;padding:0;border-right:0;border-top:0;border-left:0;}
.section.catalogues .card-body{padding:10px 0;}
.section.catalogues .card-body a{display:inline-flex;}
.section.catalogues .card-body span{background:#ffff00;}
.section.catalogues a:hover .card h4,
.section.catalogues a:hover .card p{color:#001A71;}
.section.catalogues .card-header{width:70px;height:90px;margin-right:20px;}
.section.catalogues .card-header img{width:100%;height:100%;object-fit:cover;}
.section.catalogues .card-body small{background:#001A71;padding:2px 5px;margin-right:6px;font-size:12px;color:#FFF;}
.section.catalogues .card-body small a{color:#FFF;}
.section.page-error{text-align:center;}
.section.page-error hr{margin:10px auto 35px;}
.section.news-detail img{width:100%;border:1px solid #E6E6E6;}
.section.news-detail p img{width:auto;border:1px solid #E6E6E6;}
.section.contacts .contacts-form{padding:30px;background:#fafafa;}
.section.contacts strong{font-weight:normal;font-size:17px;font-family:'Oswald',sans-serif;}
.section.contacts p{white-space:normal;}
.section.contacts .workwithus-txt p strong{ font-size: 13px; font-family: 'Open Sans',sans-serif; font-weight: 700; }
.section.loginreg .box{background:rgba(255,209,0,0.18);padding:30px;}
.section.contacts .workwithus-txt h4 { margin-bottom: 10px; }
.section.loginreg .box a{text-decoration:underline;color:#58585A;}
.section.loginreg button.btn-primary{background:#001A71;color:#FFF;padding:9px 20px;text-transform:uppercase;margin-top:20px;border:0;}
.section.loginreg button.btn-primary:hover{background:#FFD100;color:#001A71;}
.section.loginreg button.btn-primary:focus,
button.btn-primary:active{outline:0;background:#001A71;color:#FFF;}
.section.loginreg .box-reg{background:#fafafa;padding:30px;}
.section.gallery-products{background:#fafafa;padding:40px;margin-top:40px;}
.section.gallery-products h3{text-transform:uppercase;margin-bottom:25px;}
.section.gallery-products .img-gallery-products a{display:block;}
.section.gallery-products .img-gallery-products img{width:100%;object-position:center center;height:220px;object-fit:contain;display:block;margin-left:auto;margin-right:auto;padding:10px 0;background:#FFF;}
a .plus .fa{width:30px;height:30px;display:inline-block;padding:10px;font-size:12px;position:absolute;right:0;color:#FFD100;top:0;}
a:hover .plus .fa{color:#001A71;}
.section.gallery-products .img-gallery-products .label{position:absolute;width:100%;bottom:-200px;-webkit-transition:all 300ms cubic-bezier(0.645,0.045,0.355,1);transition:all 300ms cubic-bezier(0.645,0.045,0.355,1);left:0;padding:0;}
.section.gallery-products .img-gallery-products a:hover .label{bottom:0;}
.section.gallery-products .img-gallery-products .label .label-text{color:#58585A;position:relative;z-index:500;padding:18px;font-size:14px;text-align:left;background:#FFF;word-wrap:break-word;min-height:130px;border-top:2px solid #001A71;}
.section.gallery-products .img-gallery-products a:hover .label .label-text{border-top:2px solid #FFD100!important;}
.section.gallery-products .img-gallery-products .label .label-text .text-title p{font-size:16px; /* text-transform:uppercase; */margin-bottom:5px;font-weight:400;font-family:'Oswald',sans-serif;}
.section.gallery-products .img-gallery-products .label .label-text .text-category{font-size:10px;font-family:'Open Sans',sans-serif;word-wrap:break-word;}
.section.gallery-products .img-gallery-products .label .label-text .text-category p{margin-bottom:0;line-height:normal;}
.section.gallery-products .img-gallery-products .label .label-bg{background:#001A71;width:100%;height:100%;position:absolute;top:0;left:0;}
.section.gallery-products .img-gallery-products .label{position:relative;bottom:0;}
.btn-test{padding:6px 15px;text-align:center;font-size:14px;text-transform:uppercase;display:block;color:#fff;/* width: 100%; */margin-top:40px;position:absolute;right:15px;top:-4px;}
.btn-test:hover{opacity:0.7;}
.btn-test img{width:14px;position:relative;vertical-align:initial;margin-right:3siderpx;}
#table-test{display:none;margin-top:50px;width:100%;}
#table-test .title-test{padding:20px;font-size:22px;color:#001A71;text-transform:uppercase;position:relative;display:flex;}
#table-test .title-test .close-title-test .fa{width:30px;height:30px;display:inline-block;padding:10px;font-size:22px;position:absolute;right:10px;color:#001A71;top:0;cursor:pointer;}
#table-test .title-test .close-title-test .fa:hover{opacity:0.7;}
#table-test table{border-color:#E6E6E6;}
#table-test table td,
#table-test table th{border-left:1px solid #E6E6E6;border-bottom:0;border-top:0;border-right:0;font-size:14px;}
#table-test table tr th{background:#fafafa;text-align:center;color:#001A71;font-size:18px;text-transform:uppercase;font-weight:400;}
#table-test a{color:#58585A;}
#table-test .product-li a{margin-left:20px;color:#58585A;text-decoration:underline;}
#table-test a:hover,
#table-test .product-li a:hover{color:#001A71;}
#table-test #searchTestField{color:#fff;width:100%;margin-right:20px;margin-left:12px;background:inherit;border:none;border-bottom:1px solid #fff;}
#table-test #searchTestField::-webkit-input-placeholder{color:#fff;}
#table-test #searchTestField::-moz-placeholder{color:#fff;}
#table-test #searchTestField:-ms-input-placeholder{color:#fff;}
#table-test #searchTestField:-moz-placeholder{color:#fff;}
#table-test #searchTestField:focus{outline:none;}
.products-slider .item  img{object-position:center center;height:350px!important;object-fit:contain;display:block;margin-left:auto;margin-right:auto;padding:0;}
.section.list-products a{color:#3E3D40;font-size:16px;text-transform:uppercase;display:block;padding:0 0 5px;position:relative;}
.section.list-products a small{font-size:12px;color:#9B9B9B;}
.section.list-products a:hover{color:#001A71;}
.section.list-products a:hover small{color:#001A71;}
.share{margin-top:20px;}
.share a{background:rgb(148,148,150);display:inline-block;}
.share a .fa{object-position:center center;height:38px;object-fit:contain;display:block;margin-left:auto;margin-right:auto;padding:10px;color:#fff;font-size:18px;}
.share a:hover{background:#FFD100;}
.section .product-content{font-family:'Open Sans',sans-serif;}
.section .product-content h1{font-family:'Oswald',sans-serif;}
.section .product-content li{font-family:'Open Sans',sans-serif;}
.section .product-content img{width:100%}
.section.product hr{margin:10px 0 18px;width:100px;border-top:2px solid #FFD100;}
.section.product .panel{margin-top:40px;}
.section.product .panel-default{border-color:transparent;box-shadow:none;}
.section.product .panel-heading{padding:0;border-bottom:0;border-top-left-radius:0;border-top-right-radius:0;background-color:transparent;border-color:transparent;}
.section.product .panel-body{padding:20px;border:1px solid #fafafa;background:#fafafa;}
.section.product .nav-tabs{border-bottom:0;}
.section.product .nav-tabs>li>a{font-size:16px;text-transform:uppercase;border-radius:0;text-align:center;color:#58585A;border:1px solid #fafafa;}
.section.product .nav-tabs>li.active>a,
.section.product .nav-tabs>li.active>a:focus,
.section.product .nav-tabs>li.active>a:hover{color:#001A71;cursor:default;background-color:#fafafa;border:1px solid #fafafa;border-bottom-color:transparent;}
.section.product .tab-content .panel{margin-top:0;background:transparent;}
.section.product .tab-content .panel-group{margin-bottom:0;}
.section.product .tab-content .panel-heading{background:#A3A3A3;color:#FFF;text-transform:uppercase;font-size:18px;padding:10px 20px;}
.section.product .tab-content .panel-heading.active{background:#001A71;}
.section.product .tab-content .panel-heading a{text-decoration:none;display:block;}
.section.product .tab-content .panel-heading  a:before{font-family:'Glyphicons Halflings';content:"\e114";float:right;transition:all 0.5s;}
.section.product .tab-content .panel-heading.active a:before{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg);}
.section.product .tab-content .panel-body{padding:0;border:0;margin-bottom:30px;}
.section.product .panel-body .test-detail{padding:20px;}
.section.product .panel-body .test-detail h4{text-transform:uppercase;color:#001A71;margin-bottom:10px;}
.section.product .panel-body .test-detail .standards{margin:20px 0;}
.section.product .panel-body .test-detail .standards ul{list-style:none;padding:0;}

/*.section.product .panel-body .test-detail .standards ul li{ padding:5px 20px;background:#58585A;display:inline-block;color:#FFF;font-size:13px;text-transform: uppercase;}*/
.section.product .panel-body .test-detail .standards ul li{padding:2px 5px;margin-right:6px;font-size:12px;border:1px solid #ccc;}
.section.product .standards ul{padding:0;margin-bottom:20px;}
.section.product .standards ul li{padding:2px 5px;border:1px solid #ccc;display:inline-block;color:#58585A;font-size:13px;text-transform:uppercase;}

/*.section.product .standards ul li:hover { background: #FFD100; border: 1px solid #FFD100; padding: 2px 5px; color: #001A71 }*/
.section.product .panel-body a .card{background:#FFF;padding:30px 20px;position:relative;margin:7px 0;text-transform:uppercase;}
.section.product .panel-body a .card{display:block;}
.section.product .panel-body a .card small{display:block;margin-bottom:5px;}
.section.product .panel-body a .card h5{font-size:18px;color:#58585A;}
.section.product .panel-body a:hover .card h5,
.section.product .tab-content .panel-body a:hover .card small{color:#001A71;}
.section.product .list-family{white-space:nowrap;margin-top:5px;}
.section.product .list-family i::after{content:"-";}
.section.product .list-family i:last-child{margin-right:0px;}
.section.product .list-family i:last-child::after{content:none;}
.section.search .result-search img{width:100%;}
.section.search .result-search .label-text{background-color:#001A71;padding:20px;}
.section.search .result-search .label{background-color:#001A71;padding:0;}
.section.search .result-search .label .label-text .text-title{font-size:15px;}
.section.list-products .list-det ul{list-style:none;margin:0;padding:0 15px;}
.section.list-products .list-det ul li:before{display:none;}
.section.list-products .list-det ul li a:hover{color:#001A71;}

.section.product .list-det ul{list-style:none;-moz-column-count:2;-moz-column-gap:20px;-webkit-column-count:2;-webkit-column-gap:20px;column-count:2;column-gap:20px;margin:0;padding:0 15px;}
.section .list-det ul li{display:inline-block;width:100%;border-bottom:1px solid #f4f4f4;padding:10px;}
.section .list-det ul li a,
.fake-a{font-size:14px;color:#58585A;text-transform:none; /*margin-bottom: 5px;*/ /* border-left: 2px solid #001A71; *//*background:#fafafa;*/display:block;}
.section .list-det ul li a:hover{color:#001A71; /* border-left: 2px solid #FFD100; */}

/*.section .list-det ul li:before {content:"067";font-size:10px;margin-right:5px;font-family:"FontAwesome";color:#58585A;top: -3px;position: relative;}*/
.section .list-det ul li small{    /* background: #001A71; */ padding:2px 5px;margin-right:6px;font-size:12px; /* color: #FFF; */border:1px solid #ccc;display:inline-block;text-align:center;width:80px;}
.section .list-det ul li a:hover small{background:#FFD100;color:#001A71;}
.section .list-det ul li:hover:before{color:#001A71;}
.list-media ul{-moz-column-count:4;-moz-column-gap:20px;-webkit-column-count:4;-webkit-column-gap:20px;column-count:4;column-gap:20px;list-style:none;margin:0;padding:0;}
.media__img{position:relative;}
.playimg{background:url(/frontend/assets/img/play.svg)no-repeat;position:absolute;z-index:9;width:60px;height:60px;top:50%;left:50%;transform:translate(-50%,-50%);}
.media__img img{width:100%;}
.list-manuals ul{-moz-column-count:1;-moz-column-gap:20px;-webkit-column-count:1;-webkit-column-gap:20px;column-count:1;column-gap:20px;list-style:none;margin:0;padding:0;}
.list-manuals ul li a{display:block;padding:15px 15px 15px 55px;background:#FFF url(/frontend/assets/img/pdf.svg) 15px center no-repeat;background-size:25px;text-decoration:underline;color:#58585A;font-style:italic;font-size:14px;margin-bottom:5px;text-transform:uppercase;border:1px solid #eee;}
.list-manuals ul li a:hover{background:#FFD100 url(/frontend/assets/img/pdf.svg) 15px center no-repeat;background-size:25px;color:#001A71;}
.card-home{background-color:#FFF;padding:30px;height:256px;position:relative;background-position:right 5px bottom;background-repeat:no-repeat;background-size:contain;}
.card-home .card-home-txt{position:absolute;width:47%;}
.card-home .card-home-txt h3{background:#001A71;display:inline-block;padding:5px 10px 7px;color:#FFF;text-transform:uppercase;}
.card-home .card-home-txt p{font-family:'Oswald',sans-serif;color:#58585A;display:block;font-size:16px;margin:0;}
.card-news{background-color:#FFF;padding:30px;height:256px;position:relative;background-position:left bottom;background-repeat:no-repeat;background-size:cover;}
.card-news .card-home-txt{position:absolute;width:47%;}
.card-news .card-home-txt h3{background:#001A71;display:inline-block;padding:5px 10px 7px;color:#FFF;text-transform:uppercase;}
.card-news .card-home-txt p{font-family:'Oswald',sans-serif;color:#58585A;font-size:16px;margin:0;display:inline-block;padding:5px 10px;background:rgba(255,255,255,0.85);}

/* Sidebar Nav-list */
.nav-list li{font-size:12px;text-transform:uppercase;padding-top:4px;border-bottom:1px dashed #EBEBEB;margin-bottom:1px;}
.nav-list li a{color:#58585A;}
.nav-list li ul{display:none;}
.nav-list label{font-weight:lighter;cursor:pointer;}

/*.nav-list label:before {content:"067";font-family:"FontAwesome";font-size:11px;position:relative;padding-right: 10px;top: -2px;}*/
.nav-list label.no-child:before{content:"";padding-right:0;}
.nav-list ul li label.tree-toggle.nav-header:before{content:""!important;}
.nav-list label.label-over{color:#001A71;}
.nav-list label.label-over.opened a{color:#001A71;}

/*.nav-list label.label-over:before {content:"068";font-family:"FontAwesome";font-size:11px;}*/

/*.nav-list label a{ display: inline-block; }*/
.nav-list .click-toggle{display:inline-block;margin-right:5px;vertical-align:top;}
.nav-list .click-toggle:before{content:"\f067";font-family:"FontAwesome";font-size:10px;}
.nav-list .label-over .click-toggle:before{content:"\f068";font-family:"FontAwesome";font-size:10px;}
.nav-list label.no-child.label-over:before{content:"";}
.nav-list .tree{margin-bottom:20px;}
.nav-list .tree li{border-bottom:0;padding-bottom:0;margin-bottom:0;color:#58585A;text-transform:none;}
.nav-list .tree li a{color:#58585A;padding:5px 0 5px 20px;}
.nav-list .tree li a:hover,
.nav-list .tree li a:focus{background:transparent;color:#001A71;}
.nav-list .tree li label{margin-left:10px;margin-top:10px;margin-bottom:0;}
.nav-list  ul li label.tree-toggle.nav-header{margin-left:20px;font-size:12px;}
.nav-list  ul li label.tree-toggle.nav-header.no-child{margin-left:20px;}
.nav-list .tree li ul{margin-left:20px;}
.nav-list ul.tree li a{color:#58585A;padding:0;font-size:12px;}

/* Footer */
footer{background:#9a9a9a;}
footer .section{padding:30px 0;}
footer p{color:#fff;font-family:'Oswald',sans-serif;margin:0;}
footer a{color:#fff;}
footer a:hover{color:#FFD100;}
footer .footer-cr{border:1px solid #8a8a8a;padding:20px;min-height:150px;}
footer .footer-cr.catalogue{background:url(/frontend/assets/img/img-catalogo.png) top right no-repeat;}
footer .footer-cr.quality img{margin:0 8px;}
footer .footer-cr.quality .img-responsive {height:40px;}

footer .logos{ text-align: justify; -ms-text-justify: distribute-all-lines; text-justify: distribute-all-lines; line-height: 40px;
  height: 1px;}
footer .logos img{ width: 100px; }
footer .logos .stretch{ width: 100%;display: inline-block;font-size: 0;line-height: 0;clear: both;  } 

footer .footer-cr hr{margin:10px 0 20px;}
footer .footer-cr .taber h5{color:#FFF;font-size:16px;margin:0;padding:0;}
footer .social{padding:0 0 30px;}
footer .social .social_line{border-top:1px solid #8a8a8a;border-bottom:1px solid #8a8a8a;padding:15px 0;}
footer .social .social_line a.footer_menu{color:#FFF;font-size:14px;text-transform:uppercase;padding:10px 20px 10px 0;display:inline-block;}
footer .social .social_line a.footer_menu:hover{color:#FFD100;}
footer .copy{background:#9a9a9a;color:#777777;padding:0 0 20px 0;}
footer .copy p{margin:12px 0;font-size:10px;}
footer .catalogue-div{background:#FFD100;color:#001A71;padding:9px 20px;text-transform:uppercase;border:0;display:inline-block;}
footer .footer-social-icon-fa .fa{font-size:26px;padding:9px 4px;}
footer .footer-social-icon-fa img{width: 120px; margin: 0 5px; }

.search .card-body h4 {
  color: #333;
  font-size: 18px;
  margin: 10px 0 20px;
  margin: 0 0 10px;
  min-height: 20px;
}
.search .card-body p {
  color: #333;
  padding-bottom: 10px;
  font-size: 14px;
  margin: 0;
  min-height: 20px;
}

/*
Responsive
*/

/* Smartphone */
@media only screen and (max-width:767px) and (min-width:320px){
  .carousel-inner>.item>a>img, .carousel-inner>.item>img{height: 180px;object-fit: cover;}
  .pr0{padding-right: 15px;}
  .pl0{padding-left: 15px;}
  button.btn-primary.second_menu{position:absolute;right:10px;top:-25px;}
  .home-slider .carousel-inner .img-slide {height: 150px;}
.carousel-caption { width: 100%; top: 0; transform: translate(0, 0); background: #001A71; padding: 20px; position: relative; left: 0; }
.carousel-caption h3 { font-size: 18px; color: #FFF; text-align: center;}
.carousel-caption h5 { margin-top: 5px;  text-align: center; font-size: 13px;}
  .carousel-caption p{font-size: 14px;}
  .carousel-products {transform: translate(-50%,-20%);width: 90%;}
  .carousel-products li {margin: 0;width: 18%;}
  .carousel-products li img {width: 68%;}
  .carousel-products li h4{display: none;}
  .carousel-products li p{display: none;}
.carousel-indicators{left:50%;width:100%;padding-left:0;margin-left:0;top:90%;transform:translate(-50%,0);position:absolute;}
.carousel-control.left, .carousel-control.right {bottom: -40px;z-index: 9;}
  /*.home-slider .carousel-inner>.item>a>img,
  .home-slider .carousel-inner>.item>img{line-height:1;height:250px;width:100%;object-fit: cover;object-position: left -48px top;}
  .home-slider .carousel-caption { top: 0; position: relative; right: 0; left: 0; transform: none; padding: 0; }
  .home-slider .carousel-caption .slide1 {width: 100%;padding: 30px;}
  .home-slider .carousel-caption .slide1 h3 {font-size: 33px;}
  .home-slider .carousel-caption .slide1 p {font-size: 27px;}
  .home-slider .carousel-caption .slide2 {width: 100%;padding: 30px;}
  .home-slider .carousel-caption .slide2 img {display: none;}
  .home-slider .carousel-caption .slide2 h5 {font-size: 15px;}
  .home-slider .carousel-caption .slide2 h3 {font-size: 33px;}
  .home-slider .carousel-caption .slide2 p {font-size: 12px;}
  .home-slider .carousel-indicators {top: 25%;}*/
  .navbar .navbar-nav{display:block;float:none;margin:7.5px 0;}
  .navbar .navbar-collapse{text-align:center;}
  .navbar-header{text-align:center;}
  .navbar-right button{padding:5px 20px;margin:0;font-size:20px;}
  .navbar-brand>img{height:45px;}
  .navbar-toggle{float:none;border:0;}
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover{background:transparent;}
  .navbar-default .navbar-toggle .icon-bar{background-color:#FFF;}
  .input-group-btn button{padding:13px 20px;}
  header .navbar-default .navbar-nav>li{border-right:0;width:100%;}
  header .navbar-default .navbar-nav>li>a{padding:20px 0;}
  header .navbar-default .topbar ul{padding:0;}
  header .navbar-default .topbar ul li{display:block;text-align:center;padding:5px 0;}
  header .navbar-default .topbar ul li:after{content:" "}
  header .navbar-default .topbar .pull-right{margin-top:-24px;}
  header .navbar-default .topbar{padding:10px 0;}
  header .navbar-default .topbar a.btn{margin-left:0px;}
  .second_menu{display:inline-block;}
  .navbar-fixed-bottom .navbar-collapse,
  .navbar-fixed-top .navbar-collapse{max-height:none;padding:0;}
  .products-slider{margin-bottom:30px;}
  a.carousel-control img{top:35%;}
  .section.product .panel-body{padding:20px;}
  .list-media ul{-moz-column-count:1;-moz-column-gap:20px;-webkit-column-count:1;-webkit-column-gap:20px;column-count:1;column-gap:20px;list-style:none;margin:0;padding:0;}
  .card-news{padding:20px;height:210px;margin-bottom:20px;}
  .card-home{padding:20px;height:210px;background-position:right bottom;margin-bottom:20px;}
  .card-home .card-home-txt{width:63%;}
  .section.list-products{padding:0;}
  footer .footer-cr{min-height:auto;margin-bottom:5px;}
  footer .social .social_line{text-align:center;}
  footer .social .social_line .text-right{text-align:center;}
  footer .social .social_line a.footer_menu{padding:0 20px 30px 0;}
  footer .copy,
  footer .copy .text-right{text-align:center;}
  .img-responsive{margin-bottom:30px;}
  .toggle-products{font-size:16px;color:#FFF;text-transform:uppercase;line-height:0;}
  .toggle-products i{margin-right:5px;color:#FFD100;}
  .sidebar.company .list-unstyled{margin:0 0 50px;}
  .section.catalogues .card,
  .section.news-events .card{min-height:auto;}
  .section.catalogues .card .card-body,
  .section.news-events .card .card-body{padding:20px;}
  .section.catalogues .card .card-body p,
  .section.news-events .card .card-body p{padding:0;}

  footer .logos{
    height: auto;}

  /* Taber */
  .taber{cursor:pointer;}
  .taber h5{margin:0 0 35px;}
  .taber h5:after{content:"\f106 ";font-family:"FontAwesome";color:#a0a0a0;width:20px;height:20px;background:transparent;display:inline-block;text-align:center;right:40px;position:absolute;}
  .taber.collapsed h5:after{position:absolute;right:40px;content:"\f107 ";font-family:"FontAwesome";background:transparent;color:#a0a0a0;}
}

/* Smartphone Landscape
@media only screen and (min-width:480px) and (max-width:767px){
.carousel-inner>.item>a>img,.carousel-inner>.item>img{line-height:1;height:250px;object-fit:cover;width:100%;}
.carousel-caption{top:20%;}
.carousel-caption h1 {font-size: 23px;}
.carousel-caption h2 {font-size: 20px;}
}
*/

/* Tablet */
@media only screen and (min-width:768px) and (max-width:959px){
  .pr0{padding-right:15px;}
  .pl0{padding-left:15px;}
  header .navbar-default .navbar-nav>li>a{font-size:11px;color:#FFF;text-transform:uppercase;line-height:0;padding:20px 0;}
  header .navbar-default .topbar{padding:10px 0;}
  header .navbar-default .topbar a{font-size:12px;}
  .collapse.in{display:block!important;}
  .home-slider .carousel-inner .img-slide {height: 310px;}
  .carousel-caption{transform:translate(-50%,20%);width:70%;}
  .carousel-caption h3{font-size:30px;}
  .carousel-caption p{font-size:18px;}
  .carousel-products{transform:translate(-50%,0);}
  .carousel-products li{margin:0;width:18%;}
  .carousel-products li img{width:68%;}
  .carousel-products li h4{font-size:14px;}
  .carousel-products li p{font-size:10px;}
  .card-news{margin-bottom:30px;}

  footer .logos img{ width: 100px; }
  footer .logos{height: auto;}

  /*.home-slider .carousel-inner>.item>a>img,
    }
    .home-slider .carousel-inner>.item>img{line-height:1;height:450px;width:100%;object-fit: cover;object-position: left -200px top;}
    .home-slider .carousel-caption{right: 3%;}
    .home-slider .carousel-caption .slide1 h3 {font-size: 53px;}
    .home-slider .carousel-caption .slide1 p {font-size: 30px;}
    .home-slider .carousel-caption .slide2 {width: 420px;}
    .home-slider .carousel-caption .slide2 img {display: none;}
    .home-slider .carousel-caption .slide2 h5 {font-size: 20px;}
    .home-slider .carousel-caption .slide2 h3 {font-size: 46px;}
    .home-slider .carousel-caption .slide2 p {font-size: 14px;margin: 0 0 20px;}*/
  .navbar .navbar-nav{display:block;float:none;}
  .navbar .navbar-collapse{text-align:center;}
  .navbar-header{text-align:center;}
  .navbar-right button{padding:5px 20px;margin:0;font-size:20px;float:right;}
  .navbar-brand>img{height:45px;}
  .navbar-toggle{float:none;border:0;}
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover{background:transparent;}
  .navbar-default .navbar-toggle .icon-bar{background-color:#FFF;}
  .input-group-btn button{padding:13px 20px;}
  .navbar-fixed-bottom .navbar-collapse,
  .navbar-fixed-top .navbar-collapse{max-height:none;padding:0;}
  .products-slider{margin-bottom:30px;}
  a.carousel-control img{top:35%;}
  .section.product .panel-body{padding:20px;}
  .list-media ul{-moz-column-count:2;-moz-column-gap:20px;-webkit-column-count:2;-webkit-column-gap:20px;column-count:2;column-gap:20px;list-style:none;margin:0;padding:0;}
  .card-home{padding:20px;height:210px;background-position:right -102px bottom;margin-bottom:20px;}
  .card-home .card-home-txt{width:63%;}
  .section.gallery-products .img-gallery-products .label{position:relative;bottom:0;}
  .section.list-products{padding:0;}
  footer .footer-cr{min-height:auto;margin-bottom:5px;}

  /* Taber */
  .taber{cursor:pointer;}
  .taber h5:after{content:"\f106 ";font-family:"FontAwesome";color:#a0a0a0;width:20px;height:20px;background:transparent;display:inline-block;text-align:center;right:40px;position:absolute;}
  .taber.collapsed h5:after{position:absolute;right:40px;content:"\f107 ";font-family:"FontAwesome";background:transparent;color:#a0a0a0;}
}

/* Tablet Landscape */
@media only screen and (min-width:960px) and (max-width:1199px){
  header .navbar-default .navbar-nav>li>a{font-size:14px;color:#FFF;text-transform:uppercase;line-height:0;padding:20px 0px;}
  header .navbar-default .topbar{padding:10px 0;}
  header .navbar-default .topbar a{font-size:12px;}
  .home-slider .carousel-inner .img-slide {height: 405px;}
  .carousel-caption{transform:translate(-40%,2%);width:45%;}
  .carousel-caption h3{font-size:30px;}
  .carousel-caption p{font-size:18px;}
  .carousel-products{transform:translate(-50%,0);}
  .carousel-products li{margin:0;width:18%;}
  .carousel-products li img{width:68%;}
  .carousel-products li h4{font-size:14px;}
  .carousel-products li p{font-size:10px;}

  footer .logos{
    height: auto;}

  /*.home-slider .carousel-inner>.item>a>img,
  .home-slider .carousel-inner>.item>img{line-height:1;height:450px;width:100%;object-fit: cover;object-position: left -200px top;}
  .home-slider .carousel-caption{right: 3%;}
  .home-slider .carousel-caption .slide1 h3 {font-size: 53px;}
  .home-slider .carousel-caption .slide1 p {font-size: 30px;}
  .home-slider .carousel-caption .slide2 {width: 420px;}
  .home-slider .carousel-caption .slide2 img {display: none;}
  .home-slider .carousel-caption .slide2 h5 {font-size: 20px;}
  .home-slider .carousel-caption .slide2 h3 {font-size: 46px;}
  .home-slider .carousel-caption .slide2 p {font-size: 14px;margin: 0 0 20px;}*/

  footer .logos img{ width: 100px; }

  .navbar .navbar-nav{display:block;float:none;}
  .navbar .navbar-collapse{text-align:center;}
  .navbar-header{text-align:center;}
  .navbar-right button{padding:5px 20px;margin:0;font-size:20px;float:right;}
  .navbar-brand>img{height:45px;}
  .navbar-toggle{float:none;border:0;}
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover{background:transparent;}
  .navbar-default .navbar-toggle .icon-bar{background-color:#FFF;}
  .input-group-btn button{padding:13px 20px;}
  .navbar-fixed-bottom .navbar-collapse,
  .navbar-fixed-top .navbar-collapse{max-height:none;padding:0;}
  .products-slider{margin-bottom:30px;}
  a.carousel-control img{top:35%;}
  .section.product .panel-body{padding:20px;}
  .list-media ul{-moz-column-count:2;-moz-column-gap:20px;-webkit-column-count:2;-webkit-column-gap:20px;column-count:2;column-gap:20px;list-style:none;margin:0;padding:0;}
  .card-home{padding:20px;height:210px;background-position:right bottom;margin-bottom:20px;}
  .card-news{height:210px;}
  .card-home .card-home-txt{width:63%;}
  .section.gallery-products .img-gallery-products .label{position:relative;bottom:0;}
  .section.list-products{padding:0;}
  footer .footer-cr{min-height:auto;margin-bottom:5px;}

/* Taber */}

/* Laptop 13' - 1366x768 Non-Retina */
@media only screen and (min-width:1200px) and (max-width:1366px){
  .container{width:1170px;}
  .card-home .card-home-txt{width:50%;}
  footer .footer-cr.quality img{margin:0 2.5px;}
  .nav-list label{font-size:13px;}
  .products-slider .item img{height:400px;}
  .carousel-caption .slide2{width:452px;}
  .carousel-caption .slide2 img{margin-top:13px;}
  .carousel-caption .slide2 h5{font-size:22px;}
  .carousel-caption .slide2 h3{font-size:45px;}
  .carousel-caption .slide2 p{font-size:16px;}
  .carousel-caption{transform:translate(-40%,26%);width:50%;}
  .carousel-products li{width:17%;}
  .home-slider .carousel-inner .img-slide {height: 545px;}
}

/* Laptop 4:3 - 1440x1080 */
@media only screen and (min-width:1367px) and (max-width:1440px){
  footer .footer-cr.quality img{margin:0 6px;}
  .carousel-caption{width:50%;}
  .item.one-photo .carousel-caption{width:30%;transform:translate(-30%,-50%);}
  .home-slider .carousel-inner .img-slide {height: 575px;}
}