{% extends '../core/base.html' %}
{% load static %}
{% load humanize %}


{% block title %}{{ seo.title }}{% endblock title%}
{% block seodescription %} {{ seo.description }}{% endblock seodescription%}
{% block seoimage %} {{ seo.image }} {% endblock seoimage%}


{% block content %}

<!-- =======================
Page content START -->
<section class="pt-5">
	<div class="container" data-sticky-container>
		<div class="row g-4 g-sm-5">
			<!-- Main content START -->
			<div class="col-xl-8">
				<!-- Title -->
				<h1 class="mb-4 fs-4">{{product.title}}</h1>

				<!-- Rating -->
				{% comment %} <div class="d-flex align-items-center mb-4">
					<h2 class="me-3 mb-0">4.5</h2>
					<div>
						<ul class="list-inline mb-0">
							<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0 small"><i class="fas fa-star-half-alt text-warning"></i></li>
						</ul>
						<p class="mb-0 small mt-n1">نظرات خریداران ما</p>
					</div>
				</div> {% endcomment %}



				<!-- Content -->
        {% if product.summery %}
				<h4 class="fs-5">خلاصه توضیحات</h4>
				<p>{{product.summery | safe}}</p>
        {% endif %}

				<!-- Additional info -->
				<div class="row mb-3">
					<div class="col-md-6">
						<!-- List START -->
						<ul class="list-group list-group-borderless">
							<li class="list-group-item px-0">
								<span class="h6 fw-light"><i class="bi fa-fw bi-calendar-fill text-primary me-2"></i>تاریخ انتشار:</span>
								<span class="h6">{{product.publish_date}}</span>
							</li>
							<li class="list-group-item px-0">
								<span class="h6 fw-light"><i class="fas fa-fw fa-book text-primary me-2"></i>استاندارد</span>
								<span class="h6">
                  <a href="{{product.Standard.slug}}">{{product.Standard.title.value}}</a>
                </span>
							</li>
							<li class="list-group-item px-0">
								<span class="h6 fw-light"><i class="fas fa-fw fa-font text-primary me-2"></i>سایز محصول</span>
								<span class="h6">{{product.size}}</span>
							</li>
							<li class="list-group-item px-0">
								<span class="h6 fw-light"><i class="fa-light fa-translate text-primary me-2"></i>گارانتی</span>
								<span class="h6">
                  {% if product.guarantee %}
                  دارد
                  {% else %}
                  ندارد
                  {% endif %}  
                </span>
							</li>
						</ul>
						<!-- List END -->
					</div>

					<div class="col-md-6">
						<!-- List START -->
						<ul class="list-group list-group-borderless">
							<li class="list-group-item px-0">
								<span class="h6 fw-light"><i class="bi fa-fw bi-person-circle text-primary me-2"></i>زمان تحویل</span>
								<span class="h6">{{product.time_to_bring}}</span>
							</li>
							<li class="list-group-item px-0">
								<span class="h6 fw-light"><i class="bi fa-fw bi-eye-fill text-primary me-2"></i>تعداد بازدید:</span>
								<span class="h6">{{product.total_views}}</span>
							</li>
							{% comment %} <li class="list-group-item px-0">
								<span class="h6 fw-light"><i class="bi fa-fw bi-bag-fill text-primary me-2"></i>تعداد خرید:</span>
								<span class="h6">8245</span>
							</li>
							<li class="list-group-item px-0">
								<span class="h6 fw-light"><i class="bi fa-fw bi-star-fill text-primary me-2"></i>امتیاز/دیدگاه:</span>
								<span class="h6">4.5 (568)</span>
							</li> {% endcomment %}
						</ul>
						<!-- List END -->
					</div>
				</div>

				<p>{{product.description | safe}}</p>
				
				<!-- product detail START -->
				<div class="col-12">
					<!-- Tabs START -->
					<ul class="nav nav-pills nav-pills-bg-soft px-3" id="product-pills-tab" role="tablist">
						<!-- Tab item -->
						<li class="nav-item me-2 me-sm-4" role="presentation">
							<button class="nav-link mb-0 active" id="product-pills-tab-1" data-bs-toggle="pill" data-bs-target="#product-pills-1" type="button" role="tab" aria-controls="product-pills-1" aria-selected="true">مشخصات تخصصی محصول</button>
						</li>
						<!-- Tab item -->
						<li class="nav-item me-2 me-sm-4" role="presentation">
							<button class="nav-link mb-0" id="product-pills-tab-2" data-bs-toggle="pill" data-bs-target="#product-pills-2" type="button" role="tab" aria-controls="product-pills-2" aria-selected="false">دیدگاه</button>
						</li>
						<!-- Tab item -->
						<li class="nav-item me-2 me-sm-4" role="presentation">
							<button class="nav-link mb-0" id="product-pills-tab-3" data-bs-toggle="pill" data-bs-target="#product-pills-3" type="button" role="tab" aria-controls="product-pills-3" aria-selected="false">نحوه ارسال </button>
						</li>
					</ul>
					<!-- Tabs END -->

					<!-- Tab contents START -->
					<div class="tab-content pt-4 px-3" id="product-pills-tabContent">
						<!-- Content START -->
						<div class="tab-pane fade show active" id="product-pills-1" role="tabpanel" aria-labelledby="product-pills-tab-1">
							<div class="row g-4">
								<div class="col-md-12">
                  <!-- attributes -->
                  <div class="row g-4 mt-4">

                    {% for spec in specifications%}
                    <div class="col-md-6 col-xl-4">

                      <!-- Card START -->
                      <div class="card card-body shadow p-4 align-items-start">
                        <!-- Title -->
                        <h5 class="card-title mt-2 mb-0">{{spec.name}}</h5>
                        <span class="card-title mt-2 mb-0">{{spec.value}}</span>
                      </div>
                      <!-- Card END -->
                    </div>
                    {% endfor%}
                
									</div>
									<!-- Content -->
									<p class="mt-3 mt-sm-0 mb-0"></p>
								</div>
							</div>
						</div>
						<!-- Content END -->

						<!-- Content START -->
						<div class="tab-pane fade" id="product-pills-2" role="tabpanel" aria-labelledby="product-pills-tab-2">
							<!-- Review START -->
							<div class="row mb-4">
								<h4 class="mb-4 fs-5">نظرات شما</h4>

								<!-- Rating info -->
							  <div class="col-md-4 mb-3 mb-md-0">
									<div class="text-center">
										<!-- Info -->
										<h2 class="mb-0">4.5</h2>
										<!-- Star -->
										<ul class="list-inline mb-0">
											<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
											<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
											<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
											<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
											<li class="list-inline-item me-0"><i class="fas fa-star-half-alt text-warning"></i></li>
										</ul>
										<p class="mb-0">(بر اساس 155 دیدگاه)</p>
									</div>
								</div>

								<!-- Progress-bar and star -->
								<div class="col-md-8">
									<div class="row align-items-center text-center">
										<!-- Progress bar and Rating -->
										<div class="col-6 col-sm-8">
											<!-- Progress item -->
											<div class="progress progress-sm bg-warning bg-opacity-15">
												<div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
												</div>
											</div>
										</div>

										<div class="col-6 col-sm-4">
											<!-- Star item -->
											<ul class="list-inline mb-0">
												<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
												<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
												<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
												<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
												<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
											</ul>
										</div>

										<!-- Progress bar and Rating -->
										<div class="col-6 col-sm-8">
											<!-- Progress item -->
											<div class="progress progress-sm bg-warning bg-opacity-15">
												<div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
												</div>
											</div>
										</div>

										<div class="col-6 col-sm-4">
											<!-- Star item -->
											<ul class="list-inline mb-0">
												<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
												<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
												<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
												<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
												<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
											</ul>
										</div>

										<!-- Progress bar and Rating -->
										<div class="col-6 col-sm-8">
											<!-- Progress item -->
											<div class="progress progress-sm bg-warning bg-opacity-15">
												<div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
												</div>
											</div>
										</div>

										<div class="col-6 col-sm-4">
											<!-- Star item -->
											<ul class="list-inline mb-0">
												<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
												<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
												<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
												<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
												<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
											</ul>
										</div>

										<!-- Progress bar and Rating -->
										<div class="col-6 col-sm-8">
											<!-- Progress item -->
											<div class="progress progress-sm bg-warning bg-opacity-15">
												<div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
												</div>
											</div>
										</div>

										<div class="col-6 col-sm-4">
											<!-- Star item -->
											<ul class="list-inline mb-0">
												<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
												<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
												<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
												<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
												<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
											</ul>
										</div>

										<!-- Progress bar and Rating -->
										<div class="col-6 col-sm-8">
											<!-- Progress item -->
											<div class="progress progress-sm bg-warning bg-opacity-15">
												<div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
												</div>
											</div>
										</div>

										<div class="col-6 col-sm-4">
											<!-- Star item -->
											<ul class="list-inline mb-0">
												<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
												<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
												<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
												<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
												<li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<!-- Review END -->

							<!-- User review START -->
							<div class="row">
                {% for review in reviews %}
								<!-- Review item START -->
								<div class="d-md-flex my-4">
									<!-- Avatar -->
									<div class="avatar avatar-xl me-4 flex-shrink-0">
										<img class="avatar-img rounded-circle" src="{static 'images/temprory/images/avatar/01.jpg'}" alt="avatar">
									</div>
									<!-- Text -->
									<div>
										<div class="d-sm-flex mt-1 mt-md-0 align-items-center">
											<h5 class="me-3 mb-0">لیلا جلیلی</h5>
											<!-- Review star -->
											<ul class="list-inline mb-0">
												<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
												<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
												<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
												<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
												<li class="list-inline-item me-0"><i class="far fa-star text-warning"></i></li>
											</ul>
										</div>
										<!-- Info -->
										<p class="small mb-2">2 روز پیش</p>
										<p class="mb-2">کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
										
										<!-- Reply button -->
										<a href="#" class="text-body mb-0"><i class="fas fa-reply me-2"></i>پاسخ</a>
									</div>
								</div>
								<!-- Divider -->
								<hr>
								<!-- Review item END -->
                {% endfor %}
							</div>
							<!-- User review END -->

							<!-- Leave Review START -->
							<div class="mt-2">
								<h5 class="mb-4">ثبت دیدگاه</h5>
								<form class="row g-3" action="{% url 'review:submit-review' %}" method="post" id="review_form">
                  {% csrf_token %} 
                  <!-- Name -->
                  <input hidden name="product" value={{product.id}}>
                  <!-- Name -->
									<div class="col-md-6">
										<input type="text" class="form-control" id="inputtext" placeholder="نام" aria-label="First name" name="name">
									</div>
									<!-- Email -->
									<div class="col-md-6">
										<input type="email" class="form-control" placeholder="ایمیل" id="inputEmail4" name="email">
									</div>
									<!-- Rating -->
									<div class="col-12">
										<select id="inputState2" class="form-select  " name="rate">
											<option value="5" selected="">★★★★★ (5/5)</option>
											<option value="4">★★★★☆ (4/5)</option>
											<option value="3">★★★☆☆ (3/5)</option>
											<option value="2">★★☆☆☆ (2/5)</option>
											<option value="1">★☆☆☆☆ (1/5)</option>
										</select>
									</div>
									<!-- Message -->
									<div class="col-12">
										<textarea name="description" class="form-control" id="exampleFormControlTextarea1" placeholder="دیدگاه خود را بنویسید" rows="3"></textarea>
									</div>
									<!-- Button -->
									<div class="col-12">
										<button type="submit" class="btn btn-primary mb-0" form="review_form">ثبت دیدگاه</button>
									</div>
								</form>
							</div>
							<!-- Leave Review END -->

						</div>
						<!-- Content END -->

						<!-- Content START -->
						<div class="tab-pane fade" id="product-pills-3" role="tabpanel" aria-labelledby="product-pills-tab-3">
							
              <p>یکی از مشکلات اصلی خریداران کالاهای صنعتی موجود نبودن کالا در بازار و صرف زمان بالای انتظار برای تولید محصولات است، که این مساله زمان راه اندازی آزمایشگاه و هزینه سرمایه گذاری و نگهداری پول نقد را افزایش می دهد، گروه صنعتی پی خاک سنگ همه تلاش خود را در جهت رفع این مشکل و آماده سازی محصولات در انبار و ارسال فوری محصولات کرده است. در نظر داشته باشید که هزینه تولید کالاهای تخصصی بالا و تعداد به نسبت تبدیل مشتری پایین است و همچنین این مهم به هزینه انبار زیاد و سرمایه گذاری زیاد نیاز دارد گروه صنعتی پی خاک سنگ برای حل این مشکل این کار سخت و پر ریسک در بازار را انجام داده است  به این امید که مشتریان از این شرکت حمایت های لازم را انجام داده و سرمایه شرکت در گردش قرار گیرد</p>

							<!-- Process START -->
							<div class="row mb-4">
								<div class="col-12">
									<div class="bg-light p-4 rounded-3">
										<div class="row g-4 text-center mx-auto">

											<!-- Process item -->
											<div class="col-md-4 text-center">	
												<!-- Icon -->
												<div class="icon-xl bg-dark bg-opacity-10 mx-auto rounded-circle mb-3">
													<i class="far fa-fw fa-file-alt"></i>
												</div>
												<h6>ثبت سفارش</h6>
											</div>

											<!-- Process item -->
											<div class="col-md-4 text-center">
												<!-- Icon -->
												<div class="icon-xl bg-dark bg-opacity-10 mx-auto rounded-circle mb-3">
													<i class="fas fa-fw fa-truck-moving"></i>
												</div>
												<!-- Title -->
												<h6>ارسال کالا</h6>
											</div>

											<!-- Process item -->
											<div class="col-md-4 text-center">
												<!-- Icon -->
												<div class="icon-xl bg-dark bg-opacity-10 mx-auto rounded-circle mb-3">
													<i class="fas fa-fw fa-people-carry"></i>
												</div>
												<!-- Title -->
												<h6>تحویل به مشتری</h6>
											</div>
										</div>
									</div>

								</div>
							</div>
							<!-- Process END -->

							<!-- Content -->
							<p>در صورت موجود بودن کالا با هماهنگی های صورت گرفته از سمت شرکت پی خاک سنگ کالا به سرعت و در همان روز ارسال می شود و در غیر این صورت زمان آماده سازی و ارسال کالا توسط بخش آماده سازی و انبار شرکت هماهنگ می شود</p>
							<p><b>زمان پردازش:</b> زمانی که طول می کشد تا کالا(های) شما برای ارسال از انبار ما آماده شود. این شامل آماده سازی اقلام شما، انجام بررسی های کیفیت و بسته بندی برای حمل و نقل است.</p>
							<p><b>زمان ارسال:</b> زمان ارسال کالا در توضیحات محصول نوشته شده است شما می توانید پس از ثبت سفارش با همکاران ما جهت ارسال فوری محصولات هماهنگ شوید</p>
							<p> محصولات زیادی از انبار پی خاک سنگ به صورت سالم به دست مشتریان رسیده است اما خرابی ناشی از حمل از مشکلات موجود زمان ارسال است و  تعداد بسیار پایینی از محصولات به دلیل مشکلات حمل و از سمت شرکت های حامل با مشکل روبرو بوده است. گروه صنعتی پی خاک سنگ این نوید را به مشتریان خود می دهد که در صورت بروز این مشکلات و ارسال تصویر کالا و مشخص شدن خرابی آن شکت پی خاک سنگ هزینه مشتریان را به صورت کامل برگردانده و با هزینه خود کالاهای خراب را مرجوع می کند</p>
							
						</div>
						<!-- Content END -->
					</div>
					<!-- Tab contents END -->
				</div>
				<!-- product detail END -->
			</div>
			<!-- Main content END -->


			<!-- Right sidebar START -->
			<div class="col-xl-4">
				<div data-margin-top="80" data-sticky-for="992">
					<div class="row justify-content-center">
						<div class="col-md-8 col-xl-12">
              <!-- Swiper Main Slider -->

              <div class="tiny-slider arrow-round arrow-blur arrow-hover rounded-3 overflow-hidden">
                <div class="tiny-slider-inner" data-autoplay="true" data-gutter="0" data-arrow="false" data-dots="true" data-items="1">
                    <!-- Slide -->
                      <div class="card card-bordered shadow-none">
                          <img target="_blank" class="card-img-top" src="{{product.image.url}}" alt="{{product.title}}">
                      </div>
                    {% for media in other_photo %}
                      <div class="card card-bordered shadow-none">
                          {% comment %} {% if media.media_type == 'image' %} {% endcomment %}
                          <img target="_blank" class="card-img" src="{{media.media_file.url}}" alt="Image Description">
                          {% comment %} {% else %}
                          عکس موجود نیست
                          {% endif %} {% endcomment %}
                      </div>
                    {% endfor %}
                    <!-- End Slide -->
                </div>
              </div>
              <!-- End Swiper Main Slider -->

              <!-- Swiper Thumb Slider -->
              <div class=" bottom-0 end-0 start-0 zi-1 p-4" >
                <div class="tiny-slider overflow-hidden" style="max-width: 15rem;">
                  <div class="tiny-slider-inner"  data-gutter="10" data-arrow="false" data-dots="false" data-items="3">
                    <!-- Slide -->
                      <a class=" " href="javascript:;">
                          <img target="_blank" class="rounded-5" src="{{product.image.url}}" alt="{{product.title}}-img">
                      </a>
                    {% for media in other_photo %}
                        <a class="" href="javascript:;">
                            <img target="_blank" class="rounded-5" src="{{media.media_file.url}}" alt="Image Description">
                        </a>
                    {% endfor %}
                    <!-- End Slide -->
                  </div>
                </div>
              </div>
              <!-- End Swiper Thumb Slider -->
              <!-- Image -->

							<!-- Card START -->
							<div class="card shadow align-items-center">
                <!-- Price Item START -->
                <ul class="list-inline m-4 ">
                  <!-- Price -->
                  <li class="list-inline-item ">
                    <input type="radio" class="btn-check" name="options" id="option1" checked>
                    <label class="btn btn-success-soft-check" for="option1">
                      <span class="mb-2 h5 fw-light">قیمت محصول</span>
                      <!-- Price and discount -->
                      <span class="d-flex align-items-center">
                        {% if product.offer_price < product.price %}


                        <span class="mb-0 h3 me-2 text-success ">{{product.offer_price| intcomma}}  تومان</span>
                        <span class="text-decoration-line-through fs-6 mb-0 me-2">{{product.price | intcomma}}</span>
                        {% comment %} <span class="badge text-bg-dark mb-0">60% تخفیف</span> {% endcomment %}
                        {%else%}
                        <span class="mb-0 h3 me-2 text-success">{{product.price | intcomma}} تومان</span>
                        {% endif %}
                      </span>
                    </label>
                  </li>

                  <!-- Price -->
                  {% comment %} <li class="list-inline-item">
                    <input type="radio" class="btn-check" name="options" id="option2">
                    <label class="btn btn-success-soft-check" for="option2">
                      <span class="mb-2 h6 fw-light">لوح فشرده</span>
                    <!-- Price and discount -->
                    <span class="d-flex align-items-center">
                      <span class="mb-0 h5 me-2 text-success">75,000 تومان</span>
                      <span class="text-decoration-line-through fs-6 mb-0 me-2">250,000 تومان</span>
                      <span class="badge text-bg-dark mb-0">40% تخفیف</span>
                    </span>
                    </label>
                  </li> {% endcomment %}
                </ul>
                <!-- Price Item END -->
			
								<!-- Card body -->
								<div class="card-body pb-3">
									<!-- Buttons and price -->
									{% comment %} <div class="text-center">
										<!-- Buttons -->
										<a href="#" class="btn btn-success-soft mb-2 mb-sm-0 me-00 me-sm-3"><i class="bi bi-cart3 me-2"></i>افزودن به سبد</a>
										<a href="#" class="btn btn-light mb-0"><i class="bi bi-productmark me-2"></i>افزودن به علاقه مندی</a>
									</div> {% endcomment %}
								</div>
							</div>
							<!-- Card END -->

						</div>
					</div> <!-- Row End -->
				</div>
			</div>
			<!-- Right sidebar END -->
				

		</div> <!-- Row END -->
	</div>
</section>
<!-- =======================
Page content END -->
{% endblock content%}
