{% extends '../core/base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <h1 class="mt-5">لیست همه محصولات پی خاک سنگ</h1>
    <a href="{% url 'product:product-create' %}">
      <h5>ساخت محصول جدید</h5>
    </a>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">code</th>
          <th scope="col">نام محصول</th>
          <th scope="col">قیمت</th>
          <th scope="col">قیمت با تخفیف</th>
          <th scope="col">ویرایش</th>
          <th scope="col">پاک کردن</th>

        </tr>
      <thead>
        {% for product in products %}
      <tbody>
        <tr>
          <th scope="row">{{product.id}}</th>
          <td>{{product.Code}}</td>
          <td><a href="{% url 'product:product-detail' slug=product.slug %}">
            <h5>{{product.title}}</h5>
          </a></td>
          <td>{{product.price}}</td>
          <td>{{product.offer_price}}</td>
          <td><a href="{% url 'product:product-edit' slug=product.slug %}">
            <h5>edit</h5>
          </a></td>
          <td><a href="{% url 'product:product-delete' slug=product.slug %}">
            <h5>delete</h5>
          </a></td>

        </tr>
      </tbody>
      {% endfor %}

    </table>
  </div>
{% endblock content%}
