{% load static %}
   
    
<!-- fontawsome -->
<!-- <script src="{% static 'fontawsome/js/all.min.js' %}"></script> -->
<!-- <script src="{% static 'fontawsome/js/regular.min.js' %}"></script> -->

<!-- jquery -->
<script src="{% static 'js/jquery.min.js' %}" defer></script>
<!-- bootstrap -->
<script src="{% static 'js/popper.min.js' %}" defer></script>
<script src="{% static 'js/bootstrap.min.js' %}" defer></script>
<!-- jquery fancy box -->
<script src="{% static 'js/jquery-fancy-box.min.js' %}" defer></script>

<!-- owl carousel -->
<script src="{% static 'js/owl.carousel.min.js' %}" defer></script>

 <!-- Vendors -->
<script src="{% static 'vendor/purecounterjs/dist/purecounter_vanilla.js' %}" defer></script>
    <!-- tiny slider carousel -->
<script src="{% static 'vendor/tiny-slider/tiny-slider-rtl.js' %}" defer></script>
<!-- swiper carousel -->
<script src="{% static 'js/swiper-bundle.min.js' %}" defer></script>
<!-- app js -->
<script src="{% static 'js/main.js' %}" defer></script>