{% load static %}
   
    
<!-- fontawsome -->
<!-- <script src="{% static 'fontawsome/js/all.min.js' %}"></script> -->
<!-- <script src="{% static 'fontawsome/js/regular.min.js' %}"></script> -->

<!-- jquery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- jquery fancy box -->
<script src="{% static 'js/jquery-fancy-box.min.js' %}"></script>

<!-- owl carousel -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- app js -->
<script src="{% static 'js/main.js' %}"></script>