{% extends '../core/base.html' %}
{% load humanize %}
{% load static %}
{% load i18n %}



{% block content %}
<!-- **************** MAIN CONTENT START **************** -->
<main>
    <section class="pt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <!-- Image -->
                    <img src="{% static 'images/temprory/images/element/error404-01.svg' %}" class="h-200px h-md-400px mb-4" alt="">
                    <!-- Title -->
                    <h1 class="display-1 text-danger mb-0">
                        {% translate ' ارور 500 '%}
                    </h1>
                    <!-- Subtitle -->
                    <h2>{% translate 'اوه نه، مشکلی پیش آمد!' %}</h2>
                    <!-- info -->
                    <p class="mb-4">{% blocktrans %}شما ارور 500 دریافت کرده اید به این معنی که سرور دچار مشکل شده است. سریعا با پشتیبان سایت تماس بگیرید{% endblocktrans %}</p>
                    <!-- Button -->
                    <a href="{% url 'website:home' %}" class="btn btn-primary mb-0">{% translate 'برگشت به صفحه اصلی' %}</a>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- **************** MAIN CONTENT END **************** -->

{% endblock content%}
