{% load static %}
{% load i18n %}

<!-- Top alert START -->
<div class="container">
	<div class="alert alert-success alert-dismissible d-flex justify-content-between align-items-center fade show mt-2 mb-0 rounded-3 pe-2" role="alert">
		<div>
			<!-- Avatar -->
			<div class="avatar avatar-xs me-2">
				<img class="avatar-img" src="{% static 'images/icon/alert.png'%}" alt="pks-logo">
			</div>
			<!-- Info -->
			{% blocktrans %}فروش ویژه محصولات پی خاک سنگ از تاریخ سوم آذر ماه تا ششم آذر ماه  ، {% endblocktrans %}<a href="{% url 'website:offer-landing' %}" class="alert-link">{% translate 'دریافت پیش فاکتور'%} </a> </div>
		<button type="button" class="btn btn-link text-primary-hover mb-0 text-end" data-bs-dismiss="alert" aria-label="Close"><i class="fal fa-x"></i></button>
	</div>
</div>
<!-- Top alert END -->