{% load static %}
{% load humanize %}

{% comment %} <section class="pt-0">
	<div class="container">
		<div class="row mb-4">
			<h2 class="mb-0 fs-3">مقالات سایت</h2>
		</div>

		<div class="row">
			<div class="tiny-slider arrow-round arrow-creative arrow-blur">
				<div class="tiny-slider-inner" data-autoplay="false" data-arrow="true" data-dots="false" data-items="4" data-items-lg="3" data-items-md="2" data-items-xs="1">
					
                    <!-- Card item START -->                    
                    {% for post in posts %}
					<div class="card bg-transparent">
                        <div class="position-relative">
                            {% if post.image %}
                                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="card-img">
                                <!-- Overlay -->
                                <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                                    <!-- Card overlay Top -->
                                    <div class="w-100 mb-auto d-flex justify-content-end">
                                        <!-- Favorite icon -->
                                        <a href="#" class="icon-sm bg-white rounded-2"><i class="fas fa-heart text-danger"></i></a>
                                    </div>
                                    <!-- Card overlay bottom -->
                                    <div class="w-100 mt-auto">
                                        <!-- Category -->
                                        <a href="#" class="badge text-bg-white fs-6 rounded-1">
                                            <i class="far fa-calendar-alt text-orange me-2">{{ post.publish_date|date:"F Y" }}</i>
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                <img src="{% static 'images/temprory/images/pattern/01.png' %}" alt="default blog image" class="card-img">
                                <!-- Overlay -->
                                <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                                    <!-- Card overlay Top -->
                                    <div class="w-100 mb-auto d-flex justify-content-end">
                                        <!-- Favorite icon -->
                                        <a href="#" class="icon-sm bg-white rounded-2"><i class="fas fa-heart text-danger"></i></a>
                                    </div>
                                    <!-- Card overlay bottom -->
                                    <div class="w-100 mt-auto">
                                        <!-- Category -->
                                        <a href="#" class="badge text-bg-white fs-6 rounded-1">
                                            <i class="far fa-calendar-alt text-orange me-2">{{ post.publish_date|date:"F Y" }}</i>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}

						</div>
						<!-- Card body -->
						<div class="card-body px-2">
                            {% if post.slug %}
							    <h5 class="card-title"><a href="{% url 'website:blog-detail' post.slug %}">{{ post.title }}</a></h5>
                            {% else %}
                                <h5 class="card-title">{{ post.title }}</h5>
                            {% endif %}
							<p class="mb-0 text-truncate-2">{{ post.post_summery|safe|truncatechars:100 }}</p>
						</div>
					</div>
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>
</section> {% endcomment %}
<!-- =======================
Event END -->
<div class="pks-post-carousel container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="news-slider" class="owl-carousel">
                {% for post in posts %}
                    <div class="post-slide">
                        <div class="post-img">
                            {% if post.image %}
                                <img src="{{ post.image.url }}" alt="">
                            {% else %}
                                <img src="{% static 'path/to/default/image.jpg' %}" alt="">
                            {% endif %}
                            {% if post.slug %}
                                <a href="{% url 'website:blog-detail' post.slug %}" class="over-layer"><i class="fa fa-link"></i></a>
                            {% else %}
                                <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                            {% endif %}
                        </div>
                        <div class="post-content">
                            <h3 class="post-title">
                                {% if post.slug %}
                                    <a href="{% url 'website:blog-detail' post.slug %}">{{ post.title }}</a>
                                {% else %}
                                    {{ post.title }}
                                {% endif %}
                            </h3>
                            <p class="post-description">{{ post.post_summery|safe|truncatechars:100 }}</p>
                            <span class="post-date"><i class="fa fa-clock-o"></i> {{ post.publish_date|naturaltime }}</span>
                            {% if post.slug %}
                                <a href="{% url 'website:blog-detail' post.slug %}" class="read-more">مطالعه مقاله</a>
                            {% else %}
                                <a href="#" class="read-more">مطالعه مقاله</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
