{% load static %}

<footer>
    <div class="container">
        <div class="footer-top-section row">
            <div class="col-lg-4 col-xs-12">
                <a href="#" class="">            
                    <div class="footer-section footer-cataloge">
                        <div class="">
                            <div><p>کاتالوگ</p></div>
                            <div class="line"></div>
                            <button value="button">دانلود کاتالوگ</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-xs-12">
                <a href="#" class="">            
                    <div class="footer-section footer-contact">
                        <div class="">
                            <div><p>ارتباط با ما</p></div>
                            <div class="line"></div>
                            <div>
                                <h3>آدرس :</h3>
                                <p>خیابان پیروزی خیابان اباذر کوچه پنجم شرقی پلاک 9</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-xs-12">
                <a href="#" class="">            
                    <div class="footer-section footer-cert">
                        <div class="">
                            <div><p>کاتالوگ</p></div>
                            <div class="line"></div>
                            <button value="button">دانلود کاتالوگ</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="footer-line"></div>
        <div class="footer-social row d-flex align-items-center justify-content-between">
            <div class="col-lg-4 col-xs-12">
                <div class="d-flex">
                    <a href=""><i class="fal fa-thumbs-up"></i></a>
                    <a href=""><i class="fal fa-hashtag"></i></a>
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-youtube"></i></a>

                </div>
            </div>
            <div class="col-lg-4 col-xs-12">
                <a href="#">aparat</a>
            </div>
            <div class="footer-site-part col-lg-4 col-xs-12">
                <a href="#">شرایط فروش</a>
                <a href="#">شرایط و مقررات سایت</a>

            </div>
        </div>
        <div class="footer-line"></div>
        <div class="footer-copyright d-flex pb-5">
            <div class="col-lg-4 col-xs-12">
                <p>کلیه حقوق این وبسایت به گروه صنعتی پی خاک سنگ تعلق دارد Copyright © 2024</p>
                <div>
                    <a href="#"><p class="deodar">طراح سایت : گروه طراحی وبسایت دئودار</p></a>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12">
            </div>
            <div class="col-lg-4 col-xs-12">
                <a href="/">
                    <img src="{% static 'logo/logo.svg' %}" alt="peykhaksang logo" width="110px" height="auto">
                </a>
            
            </div>
            <div class="back-to-top"><a href="#"><i class="fal fa-arrow-up"></i></a></div>
    </div>
    </div>
</footer>