{% load static %}
<!-- =======================
Main Banner START -->
<section class="pt-0">
	<div class="container">
        <h1 class="text-center align-items-center justify-content-center my-5" style="font-size:40px">فروش فوق العاده محصولات پی خاک سنگ پنجم شهریور ماه لغایت بیست و پنجم شهریور ماه 1403</h1>

		<div class="row">
			<div class="col-12">
				<!-- Slider START -->
				<div class="tiny-slider arrow-round arrow-blur arrow-hover rounded-3 overflow-hidden">
					<div class="tiny-slider-inner" data-autoplay="false" data-gutter="0" data-arrow="true" data-dots="false" data-items="1">
						<!-- Card item START -->
						<div class="card overflow-hidden text-center rounded-0" >
							<img src="">
						</div>
						<!-- Card item END -->

						<!-- Card item START -->
						<div class="card overflow-hidden text-center rounded-0">
							<img src="">
						</div>
						<!-- Card item END -->
					</div>
				</div>
				<!-- Slider END -->
			</div>
		</div>
	</div>
</section>
<!-- =======================
Main Banner END -->