{% load static%}
{% load i18n %}

<!-- Cookie alert box START -->
<div class="alert alert-light fade show position-fixed start-0 bottom-0 z-index-99 rounded-3 shadow p-4 ms-3 mb-3 col-10 col-md-4 col-lg-3 col-xxl-2" role="alert">
	<div class="text-dark text-center d-flex flex-column">	
		<!-- Image -->
		<img src="{% static 'logo/logo.svg' %}" class="h-50px mb-3" alt="cookie">
		<a href="https://peykhaksang.com/offer-landing/">
			{% if popupalert.popup_image %}
				<img src="{{ popupalert.popup_image.url }}" class="mb-3" alt="popup" width="80%" height="auto">
			{% endif %}
			{% comment %} <img src="{% static 'images\popup\blackfriday.jpg' %}" class="mb-3" alt="cookie"> {% endcomment %}
		</a>

		<!-- Content -->
		<p class="mb-0">{% if popupalert.popup_title %}{{popupalert.popup_title}}{% endif %}</p>
		<!-- Buttons -->
		<div class="mt-3">
			<button type="button" class="btn btn-success-soft btn-sm mb-0" data-bs-dismiss="alert" aria-label="Close">
				<span aria-hidden="true"><a href="{% url 'website:offer-landing' %}" class="alert-link">{% translate 'دریافت پیش فاکتور'%}</a></span>
				
			</button>
			<button type="button" class="btn btn-danger-soft btn-sm mb-0" data-bs-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">{% translate 'رد کردن'%}</span>
			</button>
		</div>
	</div>
</div>
<!-- Cookie alert box END -->