{% load humanize %}
{% load static %}

<!-- =======================
Event START -->
<section class="pt-0">
	<div class="container">
		<div class="row">
			<!-- Slider START -->
			<div class="tiny-slider arrow-round arrow-creative arrow-blur">
				<div class="tiny-slider-inner" data-autoplay="false" data-arrow="true" data-dots="false" data-items="4" data-items-lg="3" data-items-md="2" data-items-xs="1">
					{% for product in products %}

					<!-- Card item START -->
					<div class="card bg-transparent">
						<div class="position-relative">
								{% if product.image %}
								<img src="{{product.image.url}}" alt="" class="card-img">
								{% else %}
								<img src="{% static 'logo/logo.svg' %}" alt="" class="card-img">
								{% endif %}
							<!-- Overlay -->
							<div class="card-img-overlay d-flex align-items-start flex-column p-3">
								<!-- Card overlay Top -->
								<div class="w-100 mb-auto d-flex justify-content-end">
									<!-- Favorite icon -->
									{% comment %} <a href="#" class="icon-sm bg-white rounded-2"><i class="fas fa-heart text-danger"></i></a> {% endcomment %}
                                    {% if product.slug %}
                                    <a href="{% url 'product:productdetails' product.slug %}" class="icon-sm bg-white rounded-2"><i class="fal fa-link"  style="font-size: large;"></i></a>
                                    {% else %}
                                        <a href="#" class="icon-sm bg-white rounded-2"><i class="fal fa-link" style="font-size: large;"></i></a>
                                    {% endif %}
        
								</div>
								<!-- Card overlay bottom -->
								<div class="w-100 mt-auto">
									<!-- Category -->
									{% comment %} <a href="#" class="badge text-bg-white fs-6 rounded-1"><i class="far fa-calendar-alt text-orange me-2"></i>26 شهریور 1400</a> {% endcomment %}
								</div>
							</div>
						</div>

						<!-- Card body -->
						<div class="card-body px-2">
							<!-- Title -->
							<h5 class="card-title">
                                {% if product.slug %}
                                    <a href="{% url 'product:productdetails' product.slug %}">{{product.title}}</a>
                                {% else %}
									{{product.title}}
                                {% endif %}                           
                            </h5>
							{% comment %} <p class="mb-0 text-truncate-2">
                                {{ post.post_summery|safe|truncatechars:100 }}
                            
                            </p> {% endcomment %}
						</div>
					</div>
					<!-- Card item END -->
                    {% endfor %}


				</div>
			</div>
			<!-- Slider END -->
		</div>
	</div>
</section>
<!-- =======================
Event END -->
