{% load static i18n %}

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">{% translate 'نام محصول' %}</th>
                <th scope="col">{% translate 'قیمت' %}</th>
                <th scope="col">{% translate 'قیمت در تخفیف ویژه' %}</th>
                <th>{% translate 'صفحه محصول' %}</th>
                <th scope="col">{% translate 'تصویر محصول' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>

                {% if product.slug %}
                <td><a href="{% url 'product:productdetails' slug=product.slug %}">{{ product.title|safe |truncatechars:30 }}</a></td>
                <td>{{ product.price }}</td>
                <td>{{ product.offer_price }}</td>
                <td><a href="{% url 'product:productdetails' slug=product.slug %}">{% translate 'صفحه محصول' %}</a></td>
                {% else %}
                <td>{{ product.title|safe |truncatechars:30 }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.offer_price }}</td>
                <td><a href="#">{% translate 'no slug' %}</a></td>
                {% endif %}
                <td>
                    {% if product.image %}
                        <img class="img-fluid product-image-show" src="{{ product.image.url }}" alt="{{ product.title }}">
                    {% else %}
                        <img class="img-fluid product-image-show" src="{% static 'default-image.jpg' %}" alt="{% translate 'Default image' %}">
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
