{% extends '../core/base.html' %}
{% load humanize %}
{% load static %}
{% load i18n %}



{% block title %}Soil{% endblock title%}
{% block seodescription %} {{ seo.description }}{% endblock seodescription%}



{% block content %}

<!-- **************** MAIN CONTENT START **************** -->
<main>
    <!-- =======================
    Page Banner START -->
    <section class="py-5">
        <div class="container">
            <div class="row position-relative">
                <!-- SVG decoration -->
                <figure class="position-absolute top-0 start-0 d-none d-sm-block">	
                    <svg width="22px" height="22px" viewBox="0 0 22 22" style="transform: scale(-1,1)">
                        <polygon class="fill-purple" points="22,8.3 13.7,8.3 13.7,0 8.3,0 8.3,8.3 0,8.3 0,13.7 8.3,13.7 8.3,22 13.7,22 13.7,13.7 22,13.7 "></polygon>
                    </svg>
                </figure>
            
                <!-- Title and breadcrumb -->
                <div class="col-lg-10 mx-auto text-center position-relative">
                    <!-- Title -->
                    <h1 class="fs-2 py-2 rounded-5" style="background-color:rgba(184,152,111,1); color:black;">{% translate 'بخش خاک' %}</h1>
                    <!-- Breadcrumb -->
                    <div class="d-flex justify-content-center position-relative">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="{% url 'website:home' %}">{% translate 'صفحه اصلی' %}</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'website:shop' %}">{% translate 'محصولات' %}</a></li>
                                <li class="breadcrumb-item active" aria-current="page" style="color:black">{% translate 'خاک' %}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Page Banner END -->
    <!-- =======================
Page content START -->
<section class="position-relative pt-0 pt-lg-5">
    {% include 'partials/category-list-small.html' %}

    <!-- Title and breadcrumb -->
    <div class="col-lg-10 mx-auto text-center position-relative">
        <!-- Title -->
        <h2 class="fs-2">{% translate 'محصولات خاک' %}</h2>
        <hr class="mb-4">
    </div>
	<div class="container">
        <div class="row g-4">
            {% for product in page_obj %}
            <!-- Card item START -->
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="card bg-transparent">
                    {% if product.slug %}
                    <a href="{% url 'product:productdetails' slug=product.slug %}">

                        <div class="overflow-hidden rounded-3">
                            {% if product.image %}
                            <img src="{{ product.image.url }}" class="card-img" alt="product image">
                            {% else %}
                            <img src="{% static 'logo/logo.svg' %}" class="card-img" alt="product image">
                            {% endif %}                            <!-- Overlay -->
                            <div class="bg-overlay bg-dark opacity-1"></div>
                            <div class="card-img-overlay d-flex align-items-start p-3">
                                <!-- badge -->
                                <a href="" class="badge text-bg-danger">{{ product.categories }}</a>
                            </div>
                        </div>
                    </a>
                    {% else %}
                    <div class="overflow-hidden rounded-3">
                        {% if product.image %}
                        <a href="#"><img src="{{ product.image.url }}" class="card-img" alt="product image"></a>
                        {% else %}
                        <a href="#"><img src="{% static 'logo/logo.svg' %}" class="card-img" alt="product image"></a>
                        {% endif %}                        <!-- Overlay -->
                        <div class="bg-overlay bg-dark opacity-4"></div>
                        <div class="card-img-overlay d-flex align-items-start p-3">
                            <!-- badge -->
                            <a href="{% url 'product:productcategory' slug=categories.slug %}" class="badge text-bg-danger">{{ product.categories }}</a>
                        </div>
                    </div>
                    {% endif %}

                    <!-- Card body -->
                    <div class="card-body d-flex flex-column justify-content-between align-items-center">
                        <!-- Title -->
                        <h5 class="card-title fw-normal"><a href="{% url 'product:productdetails' slug=product.slug %}">{{product.title}}</h5></a>
                        <div class="text-truncate-2 rounded-bottom">
                            {% if product.offer_price %}
                            <p class="card-text text-dark h5">
                                <span>قیمت : </span> 
                                <span class="text-body me-1 formatted-price text-decoration-line-through h6"> {{product.formatted_price|intcomma}} تومان</span>
                                <span class="formatted-price"> {{product.formatted_offer_price|intcomma}}  تومان</span>
                            </p>
                            {% else %}
                            <span>قیمت : </span> 
                            <span class="card-text text-dark formatted-price h5">{{product.formatted_price|intcomma}} تومان</span>
                            {% endif %}
                        </div>
                        <!-- Info -->
                        <div class="d-flex justify-content-between">
                            <h6 class="mb-0 fw-normal"><a href="">{{ product.author.get_full_name }}</a></h6>
                            {% comment %} <span class="small">{{ product.publish_date|naturaltime }}</span> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div>
                <h2>{% translate 'محصولی موجود نیست' %}</h2>
            </div>
            {% endfor %}
		</div> <!-- Row end -->

        {% include "partials/paginator.html"%}


	</div>
</section>
<!-- =======================
Page content END -->

</main>





{% endblock content%}
