
/* main color #001A71;
second yellow color : #FFD100
second color : #fafafa;
font color white : 000
font color black : #58585A
font color yellow hover : #FFD100 */
@font-face {
  font-family: "iransans";
  src: url("../fonts/IRANSansWeb_Light.woff2") format("woff2");
  src: url("../fonts/IRANSansWeb_Light.woff") format("woff");
}

body{
  font-family: "iransans", 'Open Sans', sans-serif;
}
h1{
  font-weight: 600;
  font-size: large;
}
a{
  text-decoration: none;
  color: black;
}
ul{
  list-style-type: none;
  margin-bottom: 0;
}
.container{
  min-width:fit-content;
}
.main-header{
  padding: 0;
  margin: 0;
}
.top-menu-section{
  background-color: #fafafa;
  padding: 0.75rem 3rem;
}
.top-nav ul{
  list-style-type: none;
  margin-bottom: 0;
}
.top-nav li {
  margin-left: 10px;
}
.top-nav li a{
  color: #58585A;
  font-size: 14px;
  font-weight: 400;
}

.center-nav{
  padding: 0.75rem 150px;
  background-color:#001A71 ;
}
.center-nav li a{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.header-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  flex-wrap: wrap;
}
.header-logo .fa-search{
  color: #fff;
  background-color: #58585A;
  padding: 10px 15px;
  margin-left: 15px;
  border-radius: 5px;
}

.header-logo .fa-solid{
  margin-bottom: 0;
}

.header-logo input{
  background-color: #fafafa;
  border: none;
  border-radius: 10px;
  padding: 10px 20px ;
  box-shadow: 0 1px 10px rgba(0,0,0,0.09);
  direction: ltr;
}
.header-logo input::placeholder{
  font-size: 10px;
}

.footer-cataloge{
  background-image: url(../images/temprory/images/event/08.jpg);
  background-repeat: no-repeat;
  background-position: left;
  box-shadow: 0 3px 2px rgba(0,0,0,0.09);

}
.footer-section{
  border: solid 1px #8a8a8a;
  padding: 20px;
  min-height: 200px;
  margin-bottom: 20px;
  border: none;
}

.footer-section .line{
  width: 20%;
  margin:10px 0 30px 0;
  border-bottom: 2px solid #FFD100;
}
.footer-section button{
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
  background-color: #9f9f9f;
  box-shadow: 0 3px 2px rgba(0,0,0,0.09);
  transition: all 0.2s ease-in;
  font-size: 14px;
  font-weight: 600;
}
.footer-section button:hover{
  background-color: #001A71;
  box-shadow: 0 2px 15px rgba(0,0,0,0.09);
  color: white;
}
.footer-section h3{
  color: rgb(243, 238, 238);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.footer-section p{
  background-color: rgba(0,0,0,0.2);
  color: rgb(242, 240, 240);
  padding: 4px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
}

.footer-line{
  padding-bottom: 10px;
  width: 95%;
  margin: 10px auto;
  border-bottom: 2px solid #757575;
}


.category-list-filter a.active{
  background: red;
  border: 1px solid red;
  color: #fff;
  cursor: default;
}
.category-list-filter a{
  margin: 6px;
  padding: 10px 12px;
  color: #424750;
  border: 1px solid #e0e0e2;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
  transition: all .2s ease-in;
}

#fork{
  position:fixed;
  top:0;
  left:0;
  color:#000;
  text-decoration:none;
  border:1px solid #000;
  padding:.5em .7em;
  margin:1%;
  transition: color .5s;
  overflow:hidden;
}
#fork:before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 130%; height: 100%;
  background: #000;
  z-index: -1;
  transform-origin:0 0 ;
  transform:translateX(-100%) skewX(-45deg);
  transition: transform .5s;
}
#fork:hover {
  color: #fff;
}
#fork:hover:before {
  transform: translateX(0) skewX(-45deg);
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.item.is-video {
  overflow: hidden;
  position: relative;
  height: 600px;
}
.item.is-video .videoContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: width .3s;
  -moz-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s;
}
.item.is-video .videoContainer .videoBg {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.item.is-video .video-buttons {
  position: absolute;
  bottom: 33px;
  left: 33px;
  z-index: 9;
}
.item.is-video .video-buttons .btn-video-audio {
  padding: 23px;
  background-image: url(/assets/media/icon/icon-audio-off-2.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center center;
  background-color: transparent;
}
.carousel-control{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.carousel-control.right {
  background-image: none;
  font-size: 30px;
  text-shadow: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
  padding: 13px;
  top: auto;
  right: 30px;
  bottom: 300px;
  color: #FFD100;
  opacity: 1;
}
.carousel-control.left {
  background-image: none;
  font-size: 30px;
  text-shadow: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
  padding: 13px;
  top: auto;
  left: 30px;
  bottom: 300px;
  color: #FFD100;
  opacity: 1;
}
.carousel-control.left:hover, .carousel-control.right:hover {
  opacity: 0.5;
}
#home-carousel-video.carousel .carousel-control.left {
  top: 50%;
  transform: translate(0,-50%);
  bottom: initial;
}


.price-list-beton{
  margin: 20px auto;
  width: 80%;
  box-sizing: border-box;
  display: block;
}
.price-list-beton .columns{
    display: flex;
}
.price-list-beton .price-list-columns {
    width: 33.3%;
    padding: 8px;
}
    
.price-list-beton .pricebeton {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price-list-beton .pricebeton:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}
    
.price-list-beton .pricebeton .header {
      background-color: #5CA6FF;
      color: white;
      font-size: 25px;
      border-radius: 10px
      
}
    
.price-list-beton .pricebeton .header:hover {
    background-color:#116EB8;
    transition: 0.3s;
}

.price-list-beton .pricebeton li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price-list-beton .pricebeton .grey {
  background-color: #eee;
  font-size: 20px;
}

.price-list-beton .buttonbeton {
  background-color: #5CA6FF;
  border: none;
  color: white !important;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 15px;
  font-weight: bold;
    transition: 0.3s;
}
.price-list-beton .buttonbeton:hover {
  background-color: #116EB8;

}
.price-list-beton .list-hover{
    color: #001C26 !important;
}
.price-list-beton .list-hover:hover{
    color: #318CE8 !important;
}
    
@media only screen and (max-width: 700px) {
  .columns {
    width: 100%;
  }
  .price-list-beton .buttonbeton {
    background-color: #5CA6FF;
    border: none;
    color: white !important;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 15px;
    font-weight: bold;
      transition: 0.3s;
  }
}
.price-list-khak{
  margin: 20px auto;
  width: 80%;
  box-sizing: border-box;
  display: none;
}
.price-list-khak .columns{
      display: flex;
}
.price-list-khak .price-list-columns {
    width: 33.3%;
    padding: 8px;
}

.price-list-khak .price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price-list-khak .price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price-list-khak .price .header {
  background-color: #e63f66;
  color: white;
  font-size: 25px;
  border-radius: 10px
  
}

.price-list-khak .price .header:hover {
    background-color:#d42a5b;
    transition: 0.3s;
}

.price-list-khak .price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price-list-khak .price .grey {
  background-color: #eee;
  font-size: 20px;
}

.price-list-khak .button {
  background-color: #e63f66;
  border: none;
  color: white !important;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 15px;
  font-weight: bold;
    transition: 0.3s;
}
.price-list-khak .button:hover {
  background-color: #d42a5b;

}
.price-list-khak .list-hover{
    color: #001C26 !important;
}
.price-list-khak .list-hover:hover{
    color: #318CE8 !important;
}
  
@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}

.form-switch .form-check-input{
  width: 3.5em;
  transition: all 0.4s ease-in-out;
  }
.form-check-input{
  height: 2em;
}

/* On screens that are 992px or less, set the background color to blue */
@media (max-width: 992px) and (min-width: 600px){
  .center-nav{
      padding: 0.75rem 80pxpx;
  }
  .price-list-columns{
    width: 100%;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media (max-width: 650px) {
  .center-nav{
      padding: 0.75rem 10px;
  }
  .header-logo{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
  }
  .header-logo .logo{
      margin-top: 30px;
  }
}
/* bread crump */
.breadcrump .container{
  margin: 15px auto;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.breadcrump .container div{

  font-size: 18px;
  font-weight: 700;
  color: rgb(30, 4, 79);
  padding: 10px;
}

/* contact us css */

/* product list */

/* ABOUT US */
  /* ABOUT US accordion */
/* blog */

.header-blog-details{
max-width: 200px;
}
.posts-list-latests .posts{
margin-bottom: 20px;
}
.posts-list-latests img{
border-radius: 50%;
}
.posts-list-latests .title{
font-size: 14px;
font-weight: 900;
}
.posts-list-latests .description{
font-size: 12px;
font-weight: 400;
width: 80%;
align-content: justify;
}
  /* blog detail */
  .blog-holder{
    background-color: #eeeded;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 100px;

    }
    .blog-holder .sidebar .socials-network ,.blog-holder .sidebar .blog-category , .blog-holder .sidebar .last-blog-post , .blog-holder .sidebar .blog-tags {
        padding: 20px;
        background-color: white;
        border-radius: 15px;
        margin: 10px;
      }
    .main-blog{
      padding: 20px;
      background-color: white;
      border-radius: 15px;
      margin: 10px;
    }

.blog-post-detail-holder .card-text{

width: 90%;
margin:10px 30px ;
padding:10px 30px ;

}
.blog-post-detail-holder p{
font-size: 14px;
}
.blog-post-detail-holder {
h1,h2,h3,h4,h5,h6{
  font-size: 18px;
  font-weight:600 ;
}
}
/* category list */
.blog-post-holder .summery{
font-size: 18px;
}
.blog-post-holder .details{
font-size: 12px;
font-weight: 400;
color: #ccc;
}
.blog-post-holder .author{
font-size: 12px;
font-weight: 400;
color: #ccc;

}
.blog-post-holder .category{
font-size: 12px;
font-weight: 400;
color: #ccc;
}
.blog-post-holder .title{
font-size: 18px;
font-weight: 900;
margin-top: 15px;
margin-bottom: 5px;
}
.blog-post-holder .post-view{
font-size: 12px;
font-weight: 400;
color: #ccc;

}
.blog-post-holder .read-more{
font-size: 12px;
}
.cat-tag-item-card{
font-size: 12px;
display: block;
background-color: #116EB8;
color: white;
padding: 4px 10px;
border-radius: 10px;
margin: 5px;
transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.cat-tag-item-card:hover{

background-color: #ccc;
color: black;

}
/* shop html product list */

.product-list-holder{
min-height: 300px;
position: relative;
}
.product-list-holder .publish-date{
font-size: 12px;
font-weight: 400;
color: #ccc;
}
.product-list-holder .card-title{
font-size: 18px;
font-weight: 900;
margin-top: 15px;
margin-bottom: 5px;
}
.product-list-holder .summery{
font-size: 12px;
}
.product-list-holder .read-more{
  font-size: 12px;
  position: absolute;
  bottom: 15px;
  right: 10px;
}

.product-image-show{
width: 60px;
height: 60px;
border-radius: 10px;
}
/* price list */
  .price-list-beton{
    margin: 20px auto;
    width: 80%;
    box-sizing: border-box;
    display: block;
  }
     .price-list-beton .columns{
        display: flex;
    }
     .price-list-beton .price-list-columns {
        width: 33.3%;
        padding: 8px;
      }
      
     .price-list-beton .pricebeton {
        list-style-type: none;
        border: 1px solid #eee;
        margin: 0;
        padding: 0;
        -webkit-transition: 0.3s;
        transition: 0.3s;
      }
      
     .price-list-beton .pricebeton:hover {
        box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
      }
      
.price-list-beton .pricebeton .header {
  background-color: #5CA6FF;
  color: white;
  font-size: 25px;
  border-radius: 10px
  
}

.price-list-beton .pricebeton .header:hover {
    background-color:#116EB8;
    transition: 0.3s;
}

.price-list-beton .pricebeton li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price-list-beton .pricebeton .grey {
  background-color: #eee;
  font-size: 20px;
}

.price-list-beton .buttonbeton {
  background-color: #5CA6FF;
  border: none;
  color: white !important;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 15px;
  font-weight: bold;
    transition: 0.3s;
}
.price-list-beton .buttonbeton:hover {
  background-color: #116EB8;

}
.price-list-beton .list-hover{
    color: #001C26 !important;
}
.price-list-beton .list-hover:hover{
    color: #318CE8 !important;
}
      
      @media only screen and (max-width: 700px) {
        .columns {
          width: 100%;
        }
        .price-list-beton .buttonbeton {
          background-color: #5CA6FF;
          border: none;
          color: white !important;
          padding: 10px 35px;
          text-align: center;
          text-decoration: none;
          font-size: 14px;
          border-radius: 15px;
          font-weight: bold;
           transition: 0.3s;
        }
      }
  .price-list-khak{
    margin: 20px auto;
    width: 80%;
    box-sizing: border-box;
    display: none;
    .columns{
        display: flex;
    }
    .price-list-columns {
        width: 33.3%;
        padding: 8px;
      }
      
      .price {
        list-style-type: none;
        border: 1px solid #eee;
        margin: 0;
        padding: 0;
        -webkit-transition: 0.3s;
        transition: 0.3s;
      }
      
      .price:hover {
        box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
      }
      
      .price .header {
        background-color: #e63f66;
        color: white;
        font-size: 25px;
        border-radius: 10px
        
      }
      
      .price .header:hover {
          background-color:#d42a5b;
          transition: 0.3s;
      }
      
      .price li {
        border-bottom: 1px solid #eee;
        padding: 20px;
        text-align: center;
      }
      
      .price .grey {
        background-color: #eee;
        font-size: 20px;
      }
      
      .button {
        background-color: #e63f66;
        border: none;
        color: white !important;
        padding: 10px 35px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border-radius: 15px;
        font-weight: bold;
         transition: 0.3s;
      }
      .button:hover {
        background-color: #d42a5b;
      
      }
      .list-hover{
          color: #001C26 !important;
      }
      .list-hover:hover{
          color: #318CE8 !important;
      }
      
      @media only screen and (max-width: 600px) {
        .columns {
          width: 100%;
        }
      }
  }
  .form-switch .form-check-input{
    width: 3.5em;
    transition: all 0.4s ease-in-out;
    }
  .form-check-input{
    height: 2em;
  }

/* shop page product list */

.product-list-holder{
padding-inline: 20px;
}
/* product detail  */
.product-center-holder,.product-top-holder{
box-shadow: 0 1px 5px rgba(0,0,0,0.2);
border-radius: 10px;
margin-bottom: 20px;

}
.product-top-holder .product-title{
border-radius: 10px;
border-bottom: solid 1px rgba(0,0,0,0.2);
box-shadow: 0 1px 5px rgba(0,0,0,0.2);
margin-bottom: 20px;
font-size: 20px;
font-weight: 900;
}
.product-cat-holder, .product-tag-holder{
margin-bottom: 5px;
}
.product-cat,.product-tag{
padding: 3px;
border: solid 1px rgba(0,0,0,0.09);
border-radius: 5px;
font-size: 12px;
transition: all 0.3s ease-in-out;
}
.product-cat:hover,.product-tag:hover{
background-color: #001A71;
a{
  color: white;
}
}

.product-price-holder .product-price{
  font-size: 20px;
  font-weight: 900;
  color: #333;
}
.product-price-holder .product-del-price{
  font-size: 20px;
  font-weight: 400;
  color: #ccc;
}
/* blog-details */


/* carousel */
/* Equal Heights for OwlCarousel 2 */
#news-slider{
margin-top: 80px;
}
.pks-post-carousel .post-slide{
background: #fff;
margin: 20px 15px 20px;
border-radius: 15px;
padding-top: 1px;
box-shadow: 0px 14px 22px -9px #bbcbd8;
}
.pks-post-carousel .post-slide .post-img{
position: relative;
overflow: hidden;
border-radius: 10px;
margin: -12px 15px 8px 15px;
height: 300px;
object-fit: cover;
object-position: center;
}
.pks-post-carousel .post-slide .post-img img{
width: 100%;
height: auto;
transform: scale(1,1);
transition:transform 0.2s linear;
}
.pks-post-carousel .post-slide:hover .post-img img{
transform: scale(1.1,1.1);
}
.pks-post-carousel .post-slide .over-layer{
width:100%;
height:100%;
position: absolute;
top:0;
left:0;
opacity:0;
background: linear-gradient(-45deg, rgba(6,190,244,0.75) 0%, rgba(45,112,253,0.6) 100%);
transition:all 0.50s linear;
}
.pks-post-carousel .post-slide:hover .over-layer{
opacity:1;
text-decoration:none;
}
.pks-post-carousel .post-slide .over-layer i{
position: relative;
top:45%;
text-align:center;
display: block;
color:#fff;
font-size:25px;
}
.pks-post-carousel .post-slide .post-content{
background:#fff;
padding: 2px 20px 40px;
border-radius: 15px;
}
.pks-post-carousel .post-slide .post-title a{
font-size:15px;
font-weight:bold;
color:#333;
display: inline-block;
text-transform:uppercase;
transition: all 0.3s ease 0s;
}
.pks-post-carousel .post-slide .post-title a:hover{
text-decoration: none;
color:#3498db;
}
.pks-post-carousel .post-slide .post-description{
line-height:24px;
color:#808080;
margin-bottom:25px;
}
.post-slide .post-date{
color:#a9a9a9;
font-size: 14px;
}
.pks-post-carousel .post-slide .post-date i{
font-size:20px;
margin-right:8px;
color: #CFDACE;
}
.pks-post-carousel .post-slide .read-more{
padding: 7px 20px;
float: right;
font-size: 12px;
background: #2196F3;
color: #ffffff;
box-shadow: 0px 10px 20px -10px #1376c5;
border-radius: 25px;
text-transform: uppercase;
}
.post-slide .read-more:hover{
background: #3498db;
text-decoration:none;
color:#fff;
}
.owl-controls .owl-buttons{
text-align:center;
margin-top:20px;
}
.owl-controls .owl-buttons .owl-prev{
background: #fff;
position: absolute;
top:-13%;
left:15px;
padding: 0 18px 0 15px;
border-radius: 50px;
box-shadow: 3px 14px 25px -10px #92b4d0;
transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-next{
background: #fff;
position: absolute;
top:-13%;
right: 15px;
padding: 0 15px 0 18px;
border-radius: 50px;
box-shadow: -3px 14px 25px -10px #92b4d0;
transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after{
content:"\f104";
font-family: FontAwesome;
color: #333;
font-size:30px;
}
.owl-controls .owl-buttons .owl-next:after{
content:"\f105";
}
@media only screen and (max-width:1280px) {
.post-slide .post-content{
    padding: 0px 15px 25px 15px;
}
}


.pks_main_slider .owl-carousel .item{
padding: 0rem;
}

.pks_main_slider .owl-carousel .item {
background: #4DC7A0;
}



.pks_main_slider .owl-carousel-single .item {
background: #d3d3d3;
text-align: center;
}

@media (max-width: 800px) {
  .price-list-khak{
    .columns{
        display: block;
    }
    .price-list-columns{
      width: 100%;
    }
  }
  .price-list-beton{
    .columns{
        display: block;
    }
    .price-list-columns{
      width: 100%;
    }
  }
  
}

.index-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 900) and (min-width: 600px) {
  .pks_main_slider .owl-carousel .item {
    padding: 0rem;
  }
.pks_main_slider .owl-carousel-single .item {
  background: #d3d3d3;
  text-align: center;
  }
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  object-fit: cover;
  }
  .header-logo .fa-search {
    color: #fff;
    background-color: #58585A;
    padding: 12px 19px !important;
    margin-left: 0px !important;
    border-radius: 5px;
  }
}

.navbar-nav {
  --bs-nav-link-padding-y: 3px;
}

.owl-carousel{
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.owl-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.owl-prev{
  background-color: black;
  color: white;
  padding: 16px 20px;
  border-radius: 50%;
  position: absolute;
  display: none;
  opacity: 0;
  left: -75px;
  z-index: 9;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.owl-next{
  background-color: black;
  color: white;
  padding: 16px 20px;
  border-radius: 50%;
  position: absolute;
  display: none;
  opacity: 0;
  right: -75px;
  z-index: 9;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

}
.owl-carousel:hover .owl-next{
  top: 50%;
  right: 30px;
  color: white;
  display: block;
  opacity: 1;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.4) !important;
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.owl-carousel:hover .owl-prev{
  top: 50%;
  left: 30px;
  color: white;
  display: block;
  opacity: 1;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.4) !important;
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.owl-prev:hover,.owl-next:hover{
  backdrop-filter: blur(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

label#flexSwitchCheckCheckedLable {
  font-size: 20px;
}

html[dir=rtl] .choices, html[dir=rtl] select option, html[dir=rtl] .choices__input {
  direction: rtl;
  unicode-bidi: bidi-override;
  text-align: right;
}
.card-pinned {
  position: relative;
  display: block;
}
.card-pinned-top-start {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.card-pinned-top-end {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.card-pinned-bottom-start {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
.card-pinned-bottom-end {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: #1e2022;
}
.h1,
h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  .h1,
  h1 {
    font-size: 2.5rem;
  }
}
.h2,
h2 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  .h2,
  h2 {
    font-size: 1.75rem;
  }
}
.h3,
h3 {
  font-size: calc(1.25625rem + 0.075vw);
}
@media (min-width: 1200px) {
  .h3,
  h3 {
    font-size: 1.3125rem;
  }
}
.h4,
h4 {
  font-size: 1.125rem;
}
.h5,
h5 {
  font-size: 1rem;
}
.h6,
h6 {
  font-size: 0.875rem;
}

.fs-1 {
  font-size: calc(1.375rem + 1.5vw) !important;
}
.fs-2 {
  font-size: calc(1.3rem + 0.6vw) !important;
}
.fs-3 {
  font-size: calc(1.25625rem + 0.075vw) !important;
}
.fs-4 {
  font-size: 1.125rem !important;
}
.fs-5 {
  font-size: 1rem !important;
}
.fs-6 {
  font-size: 0.875rem !important;
}
.fst-italic {
  font-style: italic !important;
}
.fst-normal {
  font-style: normal !important;
}
.fw-light {
  font-weight: 300 !important;
}
.fw-lighter {
  font-weight: lighter !important;
}
.fw-normal {
  font-weight: 400 !important;
}
.fw-bold {
  font-weight: 700 !important;
}
.fw-semibold {
  font-weight: 600 !important;
}
.fw-bolder {
  font-weight: bolder !important;
}
.lh-1 {
  line-height: 1 !important;
}
.lh-sm {
  line-height: 1.25 !important;
}
.lh-base {
  line-height: 1.5 !important;
}
.lh-lg {
  line-height: 2 !important;
}
.text-start {
  text-align: left !important;
}
.text-end {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-decoration-none {
  text-decoration: none !important;
}
.text-decoration-underline {
  text-decoration: underline !important;
}
.text-decoration-line-through {
  text-decoration: line-through !important;
}
.text-lowercase {
  text-transform: lowercase !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}
.text-wrap {
  white-space: normal !important;
}
.text-nowrap {
  white-space: nowrap !important;
}
.text-break {
  word-wrap: break-word !important;
  word-break: break-word !important;
}

.alert-success {
  color: #fff;
  background-color: #00c9a7;
  border-color: #00c9a7;
}
.alert-success .alert-link {
  color: #fff;
}

.carousel-title-main-page i{
  font-size: 35px;
  margin-left: 20px;
  color: #8f7d0c;
}

.card-img, .card-img-top, .card-img-bottom {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}